@import '@/styles/mixins.scss';

/*........................ 
 About Us Content section
........................*/
.about-us-content {
  .about-us-wrapper {
    text-align: center;

    h1 {
      color: var(--primary-color1);
      text-align: center;
      font-family: var(--font-Jost);
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 1.5px;
      margin-bottom: 30px;

      @include xl-down-device() {
        font-size: 45px;
      }

      @include md-down-device() {
        font-size: 35px;
        margin-bottom: 20px;
      }

      @include sm-down-device() {
        font-size: 25px;
      }
    }

    p {
      color: var(--primary-color1);
      text-align: center;
      font-family: var(--font-Jost);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.9;
      letter-spacing: 0.48px;
      margin-bottom: 0;

      @include sm-down-device() {
        font-size: 15px;
      }

      &:nth-child(2) {
        margin-bottom: 25px;
      }
    }
  }
}

/*........................ 
   About Us Video section
  ........................*/
.about-us-video {
  .about-video-thumb {
    position: relative;

    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#222, 0.5);

      i {
        font-size: 60px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: var(--primary-color1);
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

        @include lg-down-device() {
          width: 80px;
          height: 80px;
          font-size: 45px;
        }

        @include md-down-device() {
          width: 70px;
          height: 70px;
          font-size: 40px;
        }

        @include sm-down-device() {
          width: 60px;
          height: 60px;
          font-size: 35px;
        }

        &:hover {
          background-color: var(--primary-color1);
          color: var(--white-color);
        }
      }
    }
  }
}
