/*================================================
  FAQ Component - Sagrada Cura
  Frequently Asked Questions section with accordion
=================================================*/

.faq-section {
  .faq-title {
    margin-bottom: 85px;

    @include md-down-device() {
      margin-bottom: 65px;
    }

    h1 {
      color: var(--primary-color1);
      font-family: var(--font-primary);
      font-size: 60px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 1.8;
      text-transform: capitalize;
      margin-bottom: 0;

      @include md-down-device() {
        font-size: 50px;
      }

      @include sm-down-device() {
        font-size: 45px;
      }

      svg {
        fill: #000;
        margin-left: 15px;
      }

      span {
        padding-left: 150px;

        @include md-down-device() {
          padding-left: 100px;
        }

        @include sm-down-device() {
          padding-left: 0;
        }
      }
    }
  }

  .faq-item {
    h3 {
      color: var(--primary-color1);
      font-family: var(--font-primary);
      font-size: 35px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1.05px;

      svg {
        fill: rgba(#222, 0.2);
      }

      @include sm-down-device() {
        font-size: 30px;
      }
    }
  }

  .faq-content {
    .accordion {
      .accordion-item {
        border: none;

        &:first-child {
          .accordion-header {
            .accordion-button {
              padding-top: 0;
            }
          }
        }

        .accordion-header {
          .accordion-button {
            border: none;
            border-radius: unset;
            box-shadow: none;
            color: var(--primary-color1);
            font-family: var(--font-primary);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4;
            text-transform: capitalize;
            padding: 0;
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom: 1px solid var(--primary-color1);

            &::after {
              width: unset;
              height: unset;
              content: '\F4FE';
              font-family: bootstrap-icons;
              background-image: none;
              font-weight: 800;
              font-size: 22px;
            }

            &:not(.collapsed) {
              background-color: unset;

              &::after {
                content: '\F2EA';
              }
            }

            @include sm-down-device() {
              font-size: 16px;
            }
          }
        }

        .accordion-body {
          padding: 25px;
          padding-bottom: 15px;
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 16px;
          font-weight: 300;
          line-height: 1.9;
          letter-spacing: 0.48px;

          @include sm-down-device() {
            font-size: 14px;
            padding: 20px;
          }
        }
      }
    }
  }
}
