/*================================================
  Testimonials Component - Sagrada Cura
  Customer testimonials slider with ratings
=================================================*/

.testimonial-section {
  .testimonial-slider {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      background: linear-gradient(84deg,
          #fbf8f1 0%,
          rgba(251, 248, 241, 0) 100%);
      z-index: 9;

      @include md-down-device() {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 20%;
      height: 100%;
      background: linear-gradient(98deg,
          rgba(251, 248, 241, 0) 0%,
          #fbf8f1 100%);
      z-index: 9;

      @include md-down-device() {
        display: none;
      }
    }
  }

  .swiper-slide-active {
    .testimonial-card {
      &::after {
        opacity: 1;
      }
    }

    .author-img-and-rating {
      opacity: 1;
    }
  }

  .testimonial-card {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color1);
    border-radius: 10px;
    padding: 40px 35px;
    position: relative;
    margin-bottom: 45px;

    @include sm-down-device() {
      padding: 30px 20px;
    }

    .testimonial-content {
      .author-rating {
        margin-bottom: 10px;

        i {
          color: #ffc107;
        }
      }

      p {
        color: var(--primary-color1);
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.9;
        letter-spacing: 0.54px;
        margin-bottom: 35px;

        @include lg-down-device() {
          font-size: 16px;
        }

        @include sm-down-device() {
          font-size: 15px;
        }
      }
    }

    .testimonial-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .author-area {
        h5 {
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 23px;
          font-weight: 600;
          line-height: 1;

          @include sm-down-device() {
            font-size: 20px;
          }
        }

        p {
          color: rgba(#222, 0.5);
          font-family: var(--font-primary);
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.32px;
          margin-bottom: 0;

          @include sm-down-device() {
            font-size: 15px;
          }
        }
      }

      .testimonial-qoute {
        @include sm-down-device() {
          display: none;
        }

        svg {
          fill: rgba(#fff, 0.05);
        }
      }

      .date-and-time {
        p {
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 15px;
          font-weight: 400;
          line-height: 1;
          margin-bottom: 5px;
        }

        span {
          color: rgba(#222, 0.5);
          font-family: var(--font-primary);
          font-size: 12px;
          font-weight: 400;
          line-height: 1;
        }
      }
    }

    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background: var(--white-color);
      border-bottom: 1px solid var(--primary-color1);
      border-right: 1px solid var(--primary-color1);
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      bottom: -20px;
      opacity: 0;
      transition: 0.35s;
    }
  }

  .author-img-and-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.35s;
    opacity: 0;

    .author-img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin-bottom: 10px;

      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
    }
  }
}
