@import '@/styles/mixins.scss';

/*........................ 
  Product Card
........................*/
.product-card {
  border: 1px solid #ececec;
  padding: 15px;
  transition: 0.5s;
  height: 100%;
  .product-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
    .countdown-timer {
      position: absolute;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      width: 208px;
      height: 40px;
      line-height: 1;
      border: 1px solid var(--primary-color1);
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        li {
          line-height: 1;
          color: var(--title-color);
          text-align: center;
          font-family: var(--font-primary);
          font-size: 16px;
          font-weight: 600;
          display: flex;
          align-items: center;
          span {
            &:first-child {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
    > a {
      .batch {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        > span {
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white-color);
          text-align: center;
          font-size: 15px;
          font-family: var(--font-primary);
          letter-spacing: 0.3px;
          text-transform: uppercase;
          background-color: var(--primary-color1);
          display: inline-block;
          padding: 0 10px;
          z-index: 1;

          &.new {
            font-size: 12px;
          }
        }
      }
    }
    .out-of-stock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      a {
        color: var(--primary-color1);
        text-align: center;
        font-size: 15px;
        font-family: var(--font-primary);
        font-weight: 500;
        background-color: var(--white-color);
        border: 1px solid var(--primary-color1);
        padding: 8px 25px;
        white-space: nowrap;
        span {
          font-size: 18px;
          margin: 0 5px;
        }
      }
    }
    .overlay {
      background: rgba(#212121, 0.30000001192092896);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: 0.5s;
      padding-bottom: 15px;

      .cart-area {
        .add-cart-btn {
          color: var(--white-color);
          text-align: center;
          font-size: 15px;
          font-family: var(--font-primary);
          font-weight: 500;
          background: var(--primary-color1);
          padding: 8px 20px;
          display: flex;
          align-items: baseline;
          gap: 7px;
          transition: 0.5s;
          &:hover {
            color: var(--primary-color1);
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
    .view-and-favorite-area {
      position: absolute;
      top: 7px;
      right: 7px;
      > ul {
        transform: scaleX(0);
        transform-origin: right;
        opacity: 0;
        transition: 0.5s;
        li {
          margin-bottom: 5px;
          transition: 0.5s;
          &:last-child {
            margin-bottom: 0;
          }
          > a {
            border: 1px solid var(--primary-color1);
            background-color: var(--primary-color1);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            height: 41px;
            cursor: pointer;
            transition: 0.5s;
            svg {
              fill: var(--white-color);
              transition: 0.5s;
            }
          }
          &:hover {
            > a {
              background-color: var(--white-color);
              svg {
                fill: var(--primary-color1);
              }
            }
          }
        }
      }
    }
    &.double-img {
      a {
        display: flex;
        align-items: center;
        .img2 {
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: left;
          overflow: hidden;
          transform: translateX(-100%);
          transition: all 0.8s;
          object-fit: cover;
        }
        .img1 {
          transition: all 0.8s;
          object-fit: cover;
        }
      }
    }
  }
  .product-card-content {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;

    h6 {
      margin-bottom: 5px;

      a {
        color: var(--text-color);
        font-size: 22px;
        font-family: var(--font-primary);
        font-weight: 500;
        letter-spacing: 0.4px;
        margin-bottom: 5px;
        line-height: 1.4;
      }
    }

    p {
      margin-bottom: 20px;

      a {
        color: #878585;
        text-align: center;
        font-size: 14px;
        font-family: var(--font-secondary);
        letter-spacing: 0.3px;
        transition: 0.5s;
        &:hover {
          color: var(--text-color);
        }
      }
    }

    .price {
      p {
        color: var(--text-color);
        font-size: 18px;
        font-family: var(--font-secondary);
        font-weight: 600;
        margin-bottom: 5px;
      }
      span{
        display: block;
      }

      del {
        color: var(--text-color2);
        font-size: 14px;
        font-family: var(--font-secondary);
      }
    }

    .rating {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 8px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 5px;

        li {
          line-height: 1;
          i {
            color: #ffc107;
            font-size: 12px;
          }
        }
      }

      span {
        color: var(--text-color2);
        font-size: 13px;
        font-family: var(--font-primary);
        line-height: 1;
      }
    }
    .product-size {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-top: 5px;
      li {
        padding: 5px 6px;
        border: 1px solid var(--text-color3);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: var(--font-primary);
        color: var(--primary-color1);
        cursor: pointer;
        line-height: 1.2;
        transition: 0.5s;
        &:hover {
          background-color: var(--primary-color1);
          color: var(--white-color);
        }
      }
    }
  }

  &:hover {
    .hover-underline {
      background-size: 100% 2px;
      background-position: 0% 100%;
    }
    .product-card-img {
      .overlay {
        opacity: 1;
        transform: scaleY(1);
      }
      .view-and-favorite-area {
        ul {
          transform: scaleX(1);
          opacity: 1;
        }
      }
      .countdown-timer {
        opacity: 0;
      }
      &.double-img {
        a {
          .img2 {
            transform: translateX(0);
          }
          .img1 {
            transform: translateX(100%);
          }
        }
      }
    }
  }
}
