@import '@/styles/mixins.scss';

/*........................ 
  Banner section
........................*/

.banner-2-section {
  .swiper {
    height: 100%;
  }
}

.banner-section {
  overflow: hidden;
  display: flex;
  position: relative;

  .swiper-slide-active {
    .banner-content {
      h1 {
        animation: leftRight 1s;

        @keyframes leftRight {
          0% {
            opacity: 0;
            transform: translateX(-50px);
          }

          100% {
            opacity: 1;
            transform: none;
          }
        }
      }

      >p {
        animation: leftRight 2s;
      }

      .primary-btn1 {
        animation: leftRight 3s;
      }
    }

    .discount {
      animation: zoomIn 3s;
    }
  }

  .banner-wrapper {
    display: flex;

    .banner-left {
      padding: 190px 30px 130px 10%;
      background-color: #fcf7ee;
      width: 45%;
      position: relative;
      display: flex;
      align-items: center;

      @include xxl-device() {
        padding-left: 8%;
      }

      @include xl-device() {
        padding-left: 65px;
        padding-right: 20px;
      }

      @include lg-device() {
        padding: 190px 20px 130px 50px;
      }

      @include lg-down-device() {
        width: 100%;
      }

      @include sm-down-device() {
        padding: 90px 30px 90px 30px;
        min-height: 550px;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .banner-vector1 {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.03;
      }

      .banner-vector2 {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.03;
      }

      .banner-vector3 {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .banner-content {
        position: relative;
        max-width: 560px;
        width: 100%;

        .discount {
          position: absolute;
          top: -32px;
          left: -53px;

          @include xxl-device() {
            top: -38px;
          }

          @include xxl-down-device() {
            top: -38px;
          }

          @include lg-device() {
            top: -52px;
            left: -35px;
          }

          @include sm-down-device() {
            transform: rotate(26deg);
            top: -60px;
            left: -10px;
          }

          p {
            font-family: var(--font-primary);
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--white-color);
            transform: rotate(-27.59deg);
            position: absolute;
            top: 31px;
            left: 22px;
            margin-bottom: 0;

            strong {
              font-weight: 500;
              font-size: 20px;
            }
          }
        }

        h1 {
          font-family: var(--font-primary);
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: var(--primary-color1);
          margin-bottom: 20px;

          @include xxl-device() {
            font-size: 50px;
          }

          @include xxl-down-device() {
            font-size: 50px;
          }

          @include xl-down-device() {
            font-size: 42px;
          }

          @include sm-down-device() {
            font-size: 38px;
          }
        }

        p {
          font-family: var(--font-primary);
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.8;
          letter-spacing: 0.03em;
          text-transform: capitalize;
          color: var(--primary-color1);
          margin-bottom: 40px;
        }

        .primary-btn1 {
          padding: 12px 35px;
        }
      }
    }

    .banner-right-wrapper {
      width: 55%;
      padding-left: 0;

      @include lg-down-device() {
        display: none;
      }

      position: relative;

      .banner-right-img {
        position: relative;
        height: 100%;

        .discount-tag {
          position: absolute;
          right: 25px;
          z-index: 1;
        }

        .banner-right-bg {
          min-height: 500px;
          height: 100%;
          position: relative;
          object-fit: cover;
          width: 100%;

          @include lg-device() {
            min-height: 665px;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(47.51deg,
              rgba(252, 247, 238, 0.54) 2.73%,
              rgba(252, 247, 238, 0.511018) 9.17%,
              rgba(252, 247, 238, 0) 15.47%);
          width: 100%;
          height: 100%;
          z-index: 11;
        }
      }
    }
  }

  .swiper-pagination1 {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
    align-items: center;
    width: unset;
    gap: 14px;

    @include sm-down-device() {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      border: 1px solid var(--primary-color1);
      background-color: transparent;
      opacity: 1;
      margin: 0;

      &.swiper-pagination-bullet-active {
        background: var(--primary-color1);
        margin: 0;
      }
    }
  }
}