@import '@/styles/mixins.scss';

/*........................ 
  Beauty Article section
........................*/
.latest-article-section {
  .article-card {
    border: 1px solid var(--primary-color1);
    overflow: hidden;
    position: relative;
    align-items: stretch;
    height: 100%;
    .article-image {
      position: relative;
      flex-basis: 245px;

      @include lg-down-device() {
        width: 100%;
      }
      .article-card-img {
        position: relative;
        display: block;
        height: 100%;

        img {
          aspect-ratio: 1 / 1;
          object-fit: cover;
          object-position: center;
          height: 100%;
          @include lg-down-device() {
            width: 100%;
          }
          @include sm-down-device() {
            aspect-ratio: unset;
          }
        }

        &::before {
          content: '';
          background: rgba(255, 255, 255, 0.2);
          position: absolute;
          left: -75%;
          top: 0;
          height: 100%;
          width: 50%;
          transform: skewX(-25deg);
          transform-origin: right;
          transition: transform 0.4s ease-in;
        }
        &.style-2 {
          img {
            @include sm-down-device() {
              height: 180px;
              object-fit: cover;
            }
          }
        }
      }
      .blog-date {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        a {
          color: var(--white-color);
          font-size: 13px;
          font-family: var(--font-primary);
          text-transform: capitalize;
          background-color: var(--primary-color1);
          padding: 5px 16px;
        }
      }
    }

    .article-card-content {
      flex: 1 1;
      padding: 25px 20px 25px 20px;
      @include sm-device() {
        padding: 20px 15px 20px 15px;
      }
      .tag {
        margin-bottom: 8px;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          align-items: center;
          gap: 10px;

          li {
            position: relative;

            &::before {
              content: '-';
              position: absolute;
              left: -8px;
            }

            &:first-child {
              &::before {
                display: none;
              }
            }

            a {
              color: var(--text-color);
              font-size: 13px;
              font-family: var(--font-primary);
              font-weight: 400;
              text-transform: capitalize;
              transition: 0.5s;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      h5 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        a {
          color: var(--primary-color1);
          font-size: 22px;
          font-family: var(--font-primary);
          font-weight: 600;
          line-height: 1.4;

          @include lg-device() {
            font-size: 18px;
          }

          @include sm-device() {
            font-size: 18px;
          }

          @include sm-down-device() {
            font-size: 20px;
          }
        }

        margin-bottom: 15px;

        @include sm-down-device() {
          margin-bottom: 15px;
        }
      }

      p {
        color: var(--primary-color1);
        font-size: 16px;
        font-family: var(--font-secondary);
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.45px;
        margin-bottom: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;

        @include lg-device() {
          font-size: 14px;
        }

        @include sm-device() {
          font-size: 13px;
        }

        @include sm-down-device() {
          font-size: 14px;
        }
      }

      > a {
        color: var(--primary-color1);
        font-size: 16px;
        font-family: var(--font-primary);
        font-weight: 600;
        letter-spacing: 0.48px;
        background: linear-gradient(to bottom, #222222 0%, #222222 98%);
        background-size: 100px 1px;
        background-repeat: no-repeat;
        background-position: left 100%;
        transition: background-size 0.75s;
        &:hover {
          background-size: 0 1px;
          background-position: 0% 100%;
        }
      }

      &.style-2 {
        padding: 25px 30px 25px 30px;
      }

      &.style-3 {
        padding: 20px 35px 20px 35px;

        @include sm-down-device() {
          padding: 20px;
        }
      }
    }

    &:hover {
      .article-card-img {
        &::before {
          transform-origin: left;
          animation: shine 0.75s;
        }

        @keyframes shine {
          100% {
            left: 125%;
          }
        }
      }
    }
    &.style-2 {
      display: flex;
      align-items: stretch;

      @include sm-down-device() {
        flex-direction: column;
      }

      .article-image {
        @include xxl-down-device() {
          .article-card-img {
            width: 258px;
          }
        }
        @include xl-down-device() {
          .article-card-img {
            width: unset;
          }
        }
        @include lg-device() {
          max-width: 208px;
        }

        @include sm-down-device() {
          max-width: 100%;
        }
      }

      .article-card-content {
        padding: 20px 25px;
        @include lg-device() {
          padding-right: 10px;
        }

        @include sm-down-device() {
          padding: 20px;
        }

        .tag {
          @include lg-device() {
            margin-bottom: 0;
          }
          &.two {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              color: var(--text-color);
              font-family: var(--font-primary);
              font-size: 13px;
              font-weight: 400;
              text-transform: capitalize;
            }
          }
        }

        h5 {
          margin-bottom: 10px;

          a {
            @include lg-device() {
              font-size: 16px;
            }

            @include sm-down-device() {
              font-size: 18px;
            }
          }

          @include lg-device() {
            margin-bottom: 8px;
          }
        }

        p {
          @include lg-device() {
            margin-bottom: 10px;
          }

          @include sm-down-device() {
            margin-bottom: 10px;
          }
        }
      }
    }
    &.style-3 {
      display: flex;
      align-items: center;
      @include sm-down-device() {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }

      .article-card-img {
        width: 290px;

        @include sm-down-device() {
          width: 100%;
        }

        img {
          max-width: 290px;

          @include lg-down-device() {
            width: unset;
          }

          @include sm-down-device() {
            max-width: unset;
            width: 100%;
          }
        }
      }

      .article-card-content {
        padding: 20px 25px;

        @include sm-device() {
          padding-right: 20px;
        }

        @include sm-down-device() {
          padding: 20px;
        }
      }
    }
  }
}
