.confirmation {
  &.approved {
    color: rgba(var(--success), 0.8);
  }

  &.pending {
    color: rgba(var(--warning), 0.8);
  }

  &.failed {
    color: rgba(var(--error), 0.8);
  }

  &-icon {
    width: 100%;
    height: 130px;

    .circle {
      stroke-dasharray: 63;
      stroke-dashoffset: 63;
      animation: draw-circle 1s forwards;
    }

    .checkmark {
      stroke-dasharray: 18;
      stroke-dashoffset: 18;
      animation: draw-check 2s forwards 1s;
    }
  }

  &-card {
    padding: 45px;
    background: var(--white-color);
    margin-bottom: 8pc;

    .font-approved {
      color: rgba(var(--success), 0.9);
    }

    .font-pending {
      color: rgba(var(--warning), 0.9);
    }

    .font-failed {
      color: rgba(var(--error), 0.9);
    }
  }
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  to {
    stroke-dashoffset: 0;
  }
}
