:root {
  --font-Jost: 'Jost', sans-serif;
  --font-Kalam: 'Kalam', sans-serif;
  // Colors ---------------
  --white-color: #fff;
  --black-color: #000000;
  --title-color: #13141a;
  --text-color: #212121;
  --text-color2: #ababab;
  --text-color3: #969696;
  // Theme Color
  --primary-color1: #222222;
  --bg-color: #f2f2f2;
}
