@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 393px 1893px #fff, 436px 1559px #fff, 1604px 953px #fff,
    701px 273px #fff, 1482px 1179px #fff, 863px 768px #fff, 403px 138px #fff,
    132px 314px #fff, 1292px 981px #fff, 216px 1670px #fff, 926px 859px #fff,
    373px 921px #fff, 779px 1086px #fff, 1373px 1490px #fff, 1354px 1321px #fff,
    339px 1664px #fff, 994px 1348px #fff, 1788px 1749px #fff, 110px 26px #fff,
    1714px 1058px #fff, 1422px 898px #fff, 121px 123px #fff, 1858px 143px #fff,
    429px 677px #fff, 203px 626px #fff, 654px 1732px #fff, 1732px 1938px #fff,
    899px 1893px #fff, 1559px 234px #fff, 1846px 1231px #fff, 825px 857px #fff,
    440px 1727px #fff, 347px 1318px #fff, 1572px 749px #fff, 1602px 638px #fff,
    1885px 246px #fff, 954px 821px #fff, 1422px 1562px #fff, 386px 980px #fff,
    1916px 1115px #fff, 416px 244px #fff, 1157px 659px #fff, 1374px 1543px #fff,
    580px 1273px #fff, 322px 1012px #fff, 124px 518px #fff, 1578px 74px #fff,
    917px 1501px #fff, 1026px 769px #fff, 1687px 932px #fff, 85px 1521px #fff,
    611px 1232px #fff, 716px 1521px #fff, 1132px 671px #fff, 1470px 1165px #fff,
    1879px 22px #fff, 1369px 740px #fff, 329px 174px #fff, 686px 47px #fff,
    1248px 891px #fff, 1353px 1151px #fff, 754px 1000px #fff, 1453px 1412px #fff,
    983px 176px #fff, 1256px 430px #fff, 485px 1514px #fff, 1373px 568px #fff,
    1622px 152px #fff, 400px 1231px #fff, 1466px 1187px #fff, 363px 1651px #fff,
    684px 321px #fff, 1177px 658px #fff, 998px 708px #fff, 1303px 752px #fff,
    187px 445px #fff, 1184px 1745px #fff, 532px 1248px #fff, 38px 1937px #fff,
    1122px 870px #fff, 1358px 47px #fff, 317px 1554px #fff, 148px 1864px #fff,
    672px 1123px #fff, 395px 799px #fff, 1092px 1527px #fff, 877px 1631px #fff,
    64px 1353px #fff, 1883px 622px #fff, 450px 1229px #fff, 1075px 1342px #fff,
    269px 1405px #fff, 75px 1061px #fff, 426px 413px #fff, 1616px 1840px #fff,
    1207px 1004px #fff, 1931px 1403px #fff, 566px 1338px #fff,
    1452px 1702px #fff, 848px 128px #fff, 1472px 1649px #fff, 26px 83px #fff,
    1027px 1834px #fff, 1096px 745px #fff, 1489px 1360px #fff,
    1601px 1633px #fff, 370px 1464px #fff, 921px 788px #fff, 1788px 1231px #fff,
    1036px 15px #fff, 992px 786px #fff, 1964px 1289px #fff, 1758px 55px #fff,
    1378px 1775px #fff, 1419px 1310px #fff, 1886px 1722px #fff,
    1693px 160px #fff, 686px 1889px #fff, 640px 1770px #fff, 1192px 1123px #fff,
    1026px 1973px #fff, 1600px 648px #fff, 968px 946px #fff, 1843px 817px #fff,
    1259px 1641px #fff, 1494px 267px #fff, 1890px 911px #fff, 530px 1192px #fff,
    119px 1551px #fff, 109px 1127px #fff, 504px 1283px #fff, 515px 994px #fff,
    1590px 1867px #fff, 971px 406px #fff, 1169px 92px #fff, 500px 1327px #fff,
    486px 1208px #fff, 1494px 1253px #fff, 1924px 1421px #fff, 645px 953px #fff,
    1697px 1274px #fff, 1246px 1137px #fff, 605px 1983px #fff, 1043px 284px #fff,
    274px 985px #fff, 852px 608px #fff, 879px 944px #fff, 1912px 539px #fff,
    1974px 174px #fff, 1628px 1035px #fff, 1643px 1244px #fff, 939px 900px #fff,
    323px 1754px #fff, 1778px 1884px #fff, 676px 1532px #fff, 1530px 373px #fff,
    1026px 1837px #fff, 715px 1951px #fff, 656px 1123px #fff, 904px 1507px #fff,
    548px 269px #fff, 1987px 860px #fff, 1979px 1100px #fff, 553px 644px #fff,
    85px 338px #fff, 313px 1779px #fff, 280px 1246px #fff, 1157px 432px #fff,
    45px 245px #fff, 1286px 1887px #fff, 954px 922px #fff, 1671px 394px #fff,
    869px 1981px #fff, 856px 22px #fff, 1463px 498px #fff, 9px 1690px #fff,
    1398px 1880px #fff, 144px 46px #fff, 1331px 1162px #fff, 141px 1722px #fff,
    600px 1753px #fff, 1478px 391px #fff, 738px 482px #fff, 310px 108px #fff,
    1123px 540px #fff, 1181px 1423px #fff, 213px 765px #fff, 1382px 1153px #fff,
    1883px 1192px #fff, 581px 1583px #fff, 837px 292px #fff, 1719px 484px #fff,
    625px 419px #fff, 569px 1122px #fff, 429px 185px #fff, 1539px 1204px #fff,
    1944px 1235px #fff, 1649px 1981px #fff, 1058px 597px #fff, 849px 667px #fff,
    1157px 400px #fff, 1051px 1639px #fff, 811px 1622px #fff, 1689px 1634px #fff,
    1302px 1636px #fff, 983px 1868px #fff, 615px 1944px #fff, 1467px 1170px #fff,
    1260px 513px #fff, 216px 1546px #fff, 271px 758px #fff, 1503px 400px #fff,
    133px 26px #fff, 599px 592px #fff, 580px 1997px #fff, 1238px 105px #fff,
    881px 560px #fff, 93px 317px #fff, 1922px 747px #fff, 920px 195px #fff,
    1884px 829px #fff, 687px 1777px #fff, 1347px 487px #fff, 746px 1324px #fff,
    1781px 1683px #fff, 1663px 1632px #fff, 1042px 1758px #fff,
    454px 1922px #fff, 35px 1362px #fff, 881px 748px #fff, 876px 68px #fff,
    1681px 71px #fff, 1158px 462px #fff, 60px 1676px #fff, 386px 1130px #fff,
    1995px 82px #fff, 1393px 917px #fff, 1751px 260px #fff, 1882px 596px #fff,
    1px 1498px #fff, 834px 532px #fff, 1578px 1681px #fff, 634px 1784px #fff,
    1391px 965px #fff, 320px 1094px #fff, 717px 1378px #fff, 669px 1560px #fff,
    1347px 1369px #fff, 1407px 1152px #fff, 1160px 1466px #fff,
    1728px 318px #fff, 1386px 445px #fff, 822px 1288px #fff, 1179px 1096px #fff,
    563px 1880px #fff, 893px 587px #fff, 1180px 96px #fff, 88px 717px #fff,
    687px 1420px #fff, 1813px 374px #fff, 21px 157px #fff, 1373px 1838px #fff,
    1999px 523px #fff, 1447px 876px #fff, 234px 1410px #fff, 1116px 1910px #fff,
    1085px 1392px #fff, 53px 364px #fff, 1491px 234px #fff, 1740px 1602px #fff,
    1091px 868px #fff, 1524px 1399px #fff, 1662px 906px #fff, 933px 1166px #fff,
    1008px 263px #fff, 289px 1783px #fff, 1274px 363px #fff, 124px 1557px #fff,
    1967px 1219px #fff, 1033px 501px #fff, 1415px 856px #fff, 988px 51px #fff,
    1297px 1889px #fff, 1152px 841px #fff, 1632px 967px #fff, 1792px 312px #fff,
    1636px 558px #fff, 1553px 962px #fff, 1518px 602px #fff, 75px 1079px #fff,
    1900px 1827px #fff, 898px 1286px #fff, 274px 1717px #fff, 1842px 517px #fff,
    1650px 112px #fff, 1669px 532px #fff, 1148px 881px #fff, 433px 1154px #fff,
    914px 560px #fff, 1584px 211px #fff, 373px 383px #fff, 1764px 956px #fff,
    391px 1688px #fff, 1625px 1448px #fff, 1282px 1435px #fff, 468px 1303px #fff,
    1915px 538px #fff, 782px 597px #fff, 1452px 897px #fff, 591px 432px #fff,
    976px 1808px #fff, 1809px 1875px #fff, 606px 398px #fff, 212px 242px #fff,
    1025px 3px #fff, 1448px 897px #fff, 1142px 1997px #fff, 483px 591px #fff,
    1272px 1447px #fff, 252px 1346px #fff, 906px 649px #fff, 73px 42px #fff,
    1206px 1621px #fff, 697px 1831px #fff, 1032px 1069px #fff, 1160px 878px #fff,
    386px 1064px #fff, 975px 59px #fff, 698px 1611px #fff, 1553px 1243px #fff,
    1839px 1184px #fff, 929px 1884px #fff, 998px 1135px #fff, 1037px 1106px #fff,
    920px 434px #fff, 1517px 1022px #fff, 1232px 140px #fff, 1869px 904px #fff,
    1165px 567px #fff, 672px 108px #fff, 1411px 1497px #fff, 356px 1939px #fff,
    536px 306px #fff, 695px 752px #fff, 1930px 1115px #fff, 817px 1593px #fff,
    814px 1315px #fff, 473px 1833px #fff, 567px 1688px #fff, 28px 994px #fff,
    188px 1329px #fff, 699px 982px #fff, 990px 197px #fff, 948px 83px #fff,
    1276px 493px #fff, 1020px 387px #fff, 1294px 1357px #fff, 1972px 89px #fff,
    58px 855px #fff, 1035px 1904px #fff, 896px 1872px #fff, 1226px 586px #fff,
    1662px 1358px #fff, 591px 202px #fff, 30px 153px #fff, 720px 1230px #fff,
    1804px 872px #fff, 1916px 214px #fff, 1602px 1352px #fff, 468px 935px #fff,
    945px 1319px #fff, 259px 1667px #fff, 1335px 886px #fff, 1776px 1562px #fff,
    934px 841px #fff, 1029px 1322px #fff, 888px 1632px #fff, 1048px 1281px #fff,
    732px 1961px #fff, 309px 1073px #fff, 1213px 1782px #fff, 1009px 1658px #fff,
    952px 1369px #fff, 195px 800px #fff, 32px 790px #fff, 1630px 1351px #fff,
    1654px 427px #fff, 1849px 1342px #fff, 1355px 1843px #fff, 947px 969px #fff,
    977px 2px #fff, 788px 371px #fff, 925px 1479px #fff, 1220px 193px #fff,
    219px 216px #fff, 1090px 1106px #fff, 621px 973px #fff, 1895px 487px #fff,
    645px 751px #fff, 1822px 633px #fff, 104px 1254px #fff, 392px 318px #fff,
    1245px 626px #fff, 1155px 868px #fff, 887px 1174px #fff, 722px 1201px #fff,
    1344px 1385px #fff, 1569px 1305px #fff, 1145px 339px #fff,
    1368px 1678px #fff, 943px 623px #fff, 385px 346px #fff, 697px 886px #fff,
    1021px 429px #fff, 849px 1481px #fff, 490px 1548px #fff, 1428px 903px #fff,
    1264px 1179px #fff, 1793px 2px #fff, 1159px 12px #fff, 1504px 1177px #fff,
    1772px 297px #fff, 638px 1925px #fff, 738px 1251px #fff, 1792px 830px #fff,
    1513px 72px #fff, 1532px 689px #fff, 399px 1000px #fff, 976px 1238px #fff,
    876px 439px #fff, 1858px 447px #fff, 678px 1252px #fff, 198px 1283px #fff,
    1114px 1837px #fff, 1419px 807px #fff, 567px 1372px #fff, 682px 1559px #fff,
    1539px 1109px #fff, 197px 1811px #fff, 246px 961px #fff, 1366px 693px #fff,
    1836px 881px #fff, 1135px 97px #fff, 87px 1735px #fff, 12px 255px #fff,
    25px 1503px #fff, 1679px 174px #fff, 828px 945px #fff, 1123px 1904px #fff,
    494px 1036px #fff, 180px 7px #fff, 976px 682px #fff, 1545px 1925px #fff,
    29px 1786px #fff, 468px 1897px #fff, 460px 636px #fff, 137px 687px #fff,
    419px 1543px #fff, 1472px 1790px #fff, 431px 1445px #fff, 1876px 1691px #fff,
    1833px 1196px #fff, 579px 837px #fff, 628px 1741px #fff, 48px 857px #fff,
    1632px 1827px #fff, 60px 1203px #fff, 76px 1995px #fff, 1588px 914px #fff,
    301px 963px #fff, 321px 415px #fff, 647px 805px #fff, 440px 471px #fff,
    1527px 399px #fff, 1538px 976px #fff, 1877px 1396px #fff, 1938px 1817px #fff,
    1513px 618px #fff, 1001px 1814px #fff, 1355px 1828px #fff,
    1754px 1858px #fff, 987px 1620px #fff, 1514px 1162px #fff, 1131px 287px #fff,
    1031px 1820px #fff, 1839px 1503px #fff, 289px 1974px #fff, 455px 1615px #fff,
    1162px 1920px #fff, 603px 1387px #fff, 798px 1076px #fff, 1136px 1851px #fff,
    314px 76px #fff, 1945px 359px #fff, 271px 130px #fff, 1455px 666px #fff,
    372px 774px #fff, 198px 1566px #fff, 1847px 339px #fff, 1236px 433px #fff,
    1850px 740px #fff, 1567px 1562px #fff, 1463px 64px #fff, 1700px 823px #fff,
    374px 1767px #fff, 1312px 1150px #fff, 1705px 508px #fff, 1685px 1373px #fff,
    166px 1813px #fff, 951px 1783px #fff, 360px 866px #fff, 1152px 1331px #fff,
    1072px 829px #fff, 1908px 1068px #fff, 1471px 895px #fff, 1755px 1526px #fff,
    574px 1536px #fff, 360px 809px #fff, 1044px 1019px #fff, 688px 620px #fff,
    355px 1091px #fff, 829px 653px #fff, 164px 592px #fff, 1167px 743px #fff,
    715px 1078px #fff, 1515px 1473px #fff, 832px 1395px #fff, 967px 1626px #fff,
    1634px 1463px #fff, 360px 1692px #fff, 1465px 1028px #fff, 1160px 916px #fff,
    376px 1752px #fff, 1215px 1302px #fff, 192px 1951px #fff, 1256px 392px #fff,
    1514px 23px #fff, 1203px 1599px #fff, 173px 1326px #fff, 1872px 196px #fff,
    1582px 1019px #fff, 134px 1303px #fff, 618px 1115px #fff, 1828px 231px #fff,
    1915px 507px #fff, 1591px 224px #fff, 658px 1256px #fff, 1968px 1004px #fff,
    1882px 1552px #fff, 532px 1437px #fff, 1459px 744px #fff, 144px 863px #fff,
    1664px 1662px #fff, 611px 1338px #fff, 1971px 1884px #fff,
    1922px 1291px #fff, 277px 1865px #fff, 1093px 1056px #fff, 1333px 480px #fff,
    1573px 1878px #fff, 28px 652px #fff, 1866px 1428px #fff, 1961px 1745px #fff,
    68px 393px #fff, 1288px 1344px #fff, 1870px 86px #fff, 277px 1835px #fff,
    1170px 1112px #fff, 450px 754px #fff, 1871px 633px #fff, 291px 523px #fff,
    30px 569px #fff, 1175px 1115px #fff, 147px 1500px #fff, 1577px 1566px #fff,
    1387px 981px #fff, 650px 1491px #fff, 1979px 821px #fff, 933px 381px #fff,
    1232px 1985px #fff, 1791px 759px #fff, 1760px 172px #fff, 450px 1309px #fff,
    1702px 1687px #fff, 1058px 800px #fff, 626px 1188px #fff, 332px 49px #fff,
    1434px 1861px #fff, 1383px 875px #fff, 1629px 1940px #fff,
    1549px 1895px #fff, 400px 673px #fff, 989px 810px #fff, 1965px 587px #fff,
    1805px 180px #fff, 551px 879px #fff, 1503px 1810px #fff, 1667px 1556px #fff,
    1964px 1038px #fff, 924px 270px #fff, 944px 914px #fff, 164px 327px #fff,
    1611px 1349px #fff, 621px 1919px #fff, 350px 975px #fff, 973px 651px #fff,
    1655px 1056px #fff, 924px 1599px #fff, 1237px 985px #fff, 1659px 1575px #fff,
    887px 1812px #fff, 1754px 1158px #fff, 241px 1265px #fff, 609px 1600px #fff,
    1680px 1023px #fff, 646px 1719px #fff, 1952px 235px #fff, 1286px 949px #fff,
    331px 155px #fff, 205px 1428px #fff, 386px 237px #fff, 1934px 1652px #fff,
    1408px 1697px #fff, 1272px 817px #fff, 1076px 572px #fff, 103px 1213px #fff,
    432px 729px #fff, 1431px 559px #fff, 265px 690px #fff, 418px 107px #fff,
    64px 1171px #fff, 354px 151px #fff, 1681px 691px #fff, 1652px 419px #fff,
    1082px 1153px #fff, 1309px 1414px #fff, 1920px 35px #fff, 138px 1475px #fff,
    826px 1941px #fff, 457px 1054px #fff, 1781px 1747px #fff, 1407px 1127px #fff,
    1956px 1559px #fff, 409px 21px #fff, 359px 270px #fff, 1855px 471px #fff,
    1866px 553px #fff, 1818px 1622px #fff, 1207px 1805px #fff, 459px 462px #fff,
    1731px 970px #fff, 479px 1213px #fff, 94px 1855px #fff, 1613px 21px #fff,
    294px 1898px #fff, 1876px 1431px #fff, 1398px 1888px #fff, 453px 824px #fff,
    171px 863px #fff, 1876px 1526px #fff, 676px 189px #fff, 1996px 499px #fff,
    1063px 471px #fff, 554px 985px #fff, 1430px 1603px #fff, 721px 823px #fff,
    65px 1060px #fff, 1679px 1826px #fff, 528px 1416px #fff, 1509px 106px #fff,
    423px 1873px #fff, 1866px 138px #fff, 590px 1759px #fff, 597px 756px #fff,
    1816px 511px #fff, 138px 829px #fff, 1745px 172px #fff, 1508px 463px #fff,
    533px 1810px #fff, 1912px 551px #fff, 763px 1429px #fff, 357px 281px #fff,
    751px 1376px #fff, 532px 1337px #fff, 1181px 30px #fff, 1797px 887px #fff,
    1723px 123px #fff, 660px 1911px #fff, 268px 578px #fff, 871px 1764px #fff,
    760px 1624px #fff, 729px 106px #fff, 1186px 665px #fff, 480px 342px #fff,
    524px 24px #fff, 1257px 936px #fff, 1763px 1585px #fff, 1424px 950px #fff,
    1078px 556px #fff, 1672px 550px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 393px 1893px #fff, 436px 1559px #fff, 1604px 953px #fff,
    701px 273px #fff, 1482px 1179px #fff, 863px 768px #fff, 403px 138px #fff,
    132px 314px #fff, 1292px 981px #fff, 216px 1670px #fff, 926px 859px #fff,
    373px 921px #fff, 779px 1086px #fff, 1373px 1490px #fff, 1354px 1321px #fff,
    339px 1664px #fff, 994px 1348px #fff, 1788px 1749px #fff, 110px 26px #fff,
    1714px 1058px #fff, 1422px 898px #fff, 121px 123px #fff, 1858px 143px #fff,
    429px 677px #fff, 203px 626px #fff, 654px 1732px #fff, 1732px 1938px #fff,
    899px 1893px #fff, 1559px 234px #fff, 1846px 1231px #fff, 825px 857px #fff,
    440px 1727px #fff, 347px 1318px #fff, 1572px 749px #fff, 1602px 638px #fff,
    1885px 246px #fff, 954px 821px #fff, 1422px 1562px #fff, 386px 980px #fff,
    1916px 1115px #fff, 416px 244px #fff, 1157px 659px #fff, 1374px 1543px #fff,
    580px 1273px #fff, 322px 1012px #fff, 124px 518px #fff, 1578px 74px #fff,
    917px 1501px #fff, 1026px 769px #fff, 1687px 932px #fff, 85px 1521px #fff,
    611px 1232px #fff, 716px 1521px #fff, 1132px 671px #fff, 1470px 1165px #fff,
    1879px 22px #fff, 1369px 740px #fff, 329px 174px #fff, 686px 47px #fff,
    1248px 891px #fff, 1353px 1151px #fff, 754px 1000px #fff, 1453px 1412px #fff,
    983px 176px #fff, 1256px 430px #fff, 485px 1514px #fff, 1373px 568px #fff,
    1622px 152px #fff, 400px 1231px #fff, 1466px 1187px #fff, 363px 1651px #fff,
    684px 321px #fff, 1177px 658px #fff, 998px 708px #fff, 1303px 752px #fff,
    187px 445px #fff, 1184px 1745px #fff, 532px 1248px #fff, 38px 1937px #fff,
    1122px 870px #fff, 1358px 47px #fff, 317px 1554px #fff, 148px 1864px #fff,
    672px 1123px #fff, 395px 799px #fff, 1092px 1527px #fff, 877px 1631px #fff,
    64px 1353px #fff, 1883px 622px #fff, 450px 1229px #fff, 1075px 1342px #fff,
    269px 1405px #fff, 75px 1061px #fff, 426px 413px #fff, 1616px 1840px #fff,
    1207px 1004px #fff, 1931px 1403px #fff, 566px 1338px #fff,
    1452px 1702px #fff, 848px 128px #fff, 1472px 1649px #fff, 26px 83px #fff,
    1027px 1834px #fff, 1096px 745px #fff, 1489px 1360px #fff,
    1601px 1633px #fff, 370px 1464px #fff, 921px 788px #fff, 1788px 1231px #fff,
    1036px 15px #fff, 992px 786px #fff, 1964px 1289px #fff, 1758px 55px #fff,
    1378px 1775px #fff, 1419px 1310px #fff, 1886px 1722px #fff,
    1693px 160px #fff, 686px 1889px #fff, 640px 1770px #fff, 1192px 1123px #fff,
    1026px 1973px #fff, 1600px 648px #fff, 968px 946px #fff, 1843px 817px #fff,
    1259px 1641px #fff, 1494px 267px #fff, 1890px 911px #fff, 530px 1192px #fff,
    119px 1551px #fff, 109px 1127px #fff, 504px 1283px #fff, 515px 994px #fff,
    1590px 1867px #fff, 971px 406px #fff, 1169px 92px #fff, 500px 1327px #fff,
    486px 1208px #fff, 1494px 1253px #fff, 1924px 1421px #fff, 645px 953px #fff,
    1697px 1274px #fff, 1246px 1137px #fff, 605px 1983px #fff, 1043px 284px #fff,
    274px 985px #fff, 852px 608px #fff, 879px 944px #fff, 1912px 539px #fff,
    1974px 174px #fff, 1628px 1035px #fff, 1643px 1244px #fff, 939px 900px #fff,
    323px 1754px #fff, 1778px 1884px #fff, 676px 1532px #fff, 1530px 373px #fff,
    1026px 1837px #fff, 715px 1951px #fff, 656px 1123px #fff, 904px 1507px #fff,
    548px 269px #fff, 1987px 860px #fff, 1979px 1100px #fff, 553px 644px #fff,
    85px 338px #fff, 313px 1779px #fff, 280px 1246px #fff, 1157px 432px #fff,
    45px 245px #fff, 1286px 1887px #fff, 954px 922px #fff, 1671px 394px #fff,
    869px 1981px #fff, 856px 22px #fff, 1463px 498px #fff, 9px 1690px #fff,
    1398px 1880px #fff, 144px 46px #fff, 1331px 1162px #fff, 141px 1722px #fff,
    600px 1753px #fff, 1478px 391px #fff, 738px 482px #fff, 310px 108px #fff,
    1123px 540px #fff, 1181px 1423px #fff, 213px 765px #fff, 1382px 1153px #fff,
    1883px 1192px #fff, 581px 1583px #fff, 837px 292px #fff, 1719px 484px #fff,
    625px 419px #fff, 569px 1122px #fff, 429px 185px #fff, 1539px 1204px #fff,
    1944px 1235px #fff, 1649px 1981px #fff, 1058px 597px #fff, 849px 667px #fff,
    1157px 400px #fff, 1051px 1639px #fff, 811px 1622px #fff, 1689px 1634px #fff,
    1302px 1636px #fff, 983px 1868px #fff, 615px 1944px #fff, 1467px 1170px #fff,
    1260px 513px #fff, 216px 1546px #fff, 271px 758px #fff, 1503px 400px #fff,
    133px 26px #fff, 599px 592px #fff, 580px 1997px #fff, 1238px 105px #fff,
    881px 560px #fff, 93px 317px #fff, 1922px 747px #fff, 920px 195px #fff,
    1884px 829px #fff, 687px 1777px #fff, 1347px 487px #fff, 746px 1324px #fff,
    1781px 1683px #fff, 1663px 1632px #fff, 1042px 1758px #fff,
    454px 1922px #fff, 35px 1362px #fff, 881px 748px #fff, 876px 68px #fff,
    1681px 71px #fff, 1158px 462px #fff, 60px 1676px #fff, 386px 1130px #fff,
    1995px 82px #fff, 1393px 917px #fff, 1751px 260px #fff, 1882px 596px #fff,
    1px 1498px #fff, 834px 532px #fff, 1578px 1681px #fff, 634px 1784px #fff,
    1391px 965px #fff, 320px 1094px #fff, 717px 1378px #fff, 669px 1560px #fff,
    1347px 1369px #fff, 1407px 1152px #fff, 1160px 1466px #fff,
    1728px 318px #fff, 1386px 445px #fff, 822px 1288px #fff, 1179px 1096px #fff,
    563px 1880px #fff, 893px 587px #fff, 1180px 96px #fff, 88px 717px #fff,
    687px 1420px #fff, 1813px 374px #fff, 21px 157px #fff, 1373px 1838px #fff,
    1999px 523px #fff, 1447px 876px #fff, 234px 1410px #fff, 1116px 1910px #fff,
    1085px 1392px #fff, 53px 364px #fff, 1491px 234px #fff, 1740px 1602px #fff,
    1091px 868px #fff, 1524px 1399px #fff, 1662px 906px #fff, 933px 1166px #fff,
    1008px 263px #fff, 289px 1783px #fff, 1274px 363px #fff, 124px 1557px #fff,
    1967px 1219px #fff, 1033px 501px #fff, 1415px 856px #fff, 988px 51px #fff,
    1297px 1889px #fff, 1152px 841px #fff, 1632px 967px #fff, 1792px 312px #fff,
    1636px 558px #fff, 1553px 962px #fff, 1518px 602px #fff, 75px 1079px #fff,
    1900px 1827px #fff, 898px 1286px #fff, 274px 1717px #fff, 1842px 517px #fff,
    1650px 112px #fff, 1669px 532px #fff, 1148px 881px #fff, 433px 1154px #fff,
    914px 560px #fff, 1584px 211px #fff, 373px 383px #fff, 1764px 956px #fff,
    391px 1688px #fff, 1625px 1448px #fff, 1282px 1435px #fff, 468px 1303px #fff,
    1915px 538px #fff, 782px 597px #fff, 1452px 897px #fff, 591px 432px #fff,
    976px 1808px #fff, 1809px 1875px #fff, 606px 398px #fff, 212px 242px #fff,
    1025px 3px #fff, 1448px 897px #fff, 1142px 1997px #fff, 483px 591px #fff,
    1272px 1447px #fff, 252px 1346px #fff, 906px 649px #fff, 73px 42px #fff,
    1206px 1621px #fff, 697px 1831px #fff, 1032px 1069px #fff, 1160px 878px #fff,
    386px 1064px #fff, 975px 59px #fff, 698px 1611px #fff, 1553px 1243px #fff,
    1839px 1184px #fff, 929px 1884px #fff, 998px 1135px #fff, 1037px 1106px #fff,
    920px 434px #fff, 1517px 1022px #fff, 1232px 140px #fff, 1869px 904px #fff,
    1165px 567px #fff, 672px 108px #fff, 1411px 1497px #fff, 356px 1939px #fff,
    536px 306px #fff, 695px 752px #fff, 1930px 1115px #fff, 817px 1593px #fff,
    814px 1315px #fff, 473px 1833px #fff, 567px 1688px #fff, 28px 994px #fff,
    188px 1329px #fff, 699px 982px #fff, 990px 197px #fff, 948px 83px #fff,
    1276px 493px #fff, 1020px 387px #fff, 1294px 1357px #fff, 1972px 89px #fff,
    58px 855px #fff, 1035px 1904px #fff, 896px 1872px #fff, 1226px 586px #fff,
    1662px 1358px #fff, 591px 202px #fff, 30px 153px #fff, 720px 1230px #fff,
    1804px 872px #fff, 1916px 214px #fff, 1602px 1352px #fff, 468px 935px #fff,
    945px 1319px #fff, 259px 1667px #fff, 1335px 886px #fff, 1776px 1562px #fff,
    934px 841px #fff, 1029px 1322px #fff, 888px 1632px #fff, 1048px 1281px #fff,
    732px 1961px #fff, 309px 1073px #fff, 1213px 1782px #fff, 1009px 1658px #fff,
    952px 1369px #fff, 195px 800px #fff, 32px 790px #fff, 1630px 1351px #fff,
    1654px 427px #fff, 1849px 1342px #fff, 1355px 1843px #fff, 947px 969px #fff,
    977px 2px #fff, 788px 371px #fff, 925px 1479px #fff, 1220px 193px #fff,
    219px 216px #fff, 1090px 1106px #fff, 621px 973px #fff, 1895px 487px #fff,
    645px 751px #fff, 1822px 633px #fff, 104px 1254px #fff, 392px 318px #fff,
    1245px 626px #fff, 1155px 868px #fff, 887px 1174px #fff, 722px 1201px #fff,
    1344px 1385px #fff, 1569px 1305px #fff, 1145px 339px #fff,
    1368px 1678px #fff, 943px 623px #fff, 385px 346px #fff, 697px 886px #fff,
    1021px 429px #fff, 849px 1481px #fff, 490px 1548px #fff, 1428px 903px #fff,
    1264px 1179px #fff, 1793px 2px #fff, 1159px 12px #fff, 1504px 1177px #fff,
    1772px 297px #fff, 638px 1925px #fff, 738px 1251px #fff, 1792px 830px #fff,
    1513px 72px #fff, 1532px 689px #fff, 399px 1000px #fff, 976px 1238px #fff,
    876px 439px #fff, 1858px 447px #fff, 678px 1252px #fff, 198px 1283px #fff,
    1114px 1837px #fff, 1419px 807px #fff, 567px 1372px #fff, 682px 1559px #fff,
    1539px 1109px #fff, 197px 1811px #fff, 246px 961px #fff, 1366px 693px #fff,
    1836px 881px #fff, 1135px 97px #fff, 87px 1735px #fff, 12px 255px #fff,
    25px 1503px #fff, 1679px 174px #fff, 828px 945px #fff, 1123px 1904px #fff,
    494px 1036px #fff, 180px 7px #fff, 976px 682px #fff, 1545px 1925px #fff,
    29px 1786px #fff, 468px 1897px #fff, 460px 636px #fff, 137px 687px #fff,
    419px 1543px #fff, 1472px 1790px #fff, 431px 1445px #fff, 1876px 1691px #fff,
    1833px 1196px #fff, 579px 837px #fff, 628px 1741px #fff, 48px 857px #fff,
    1632px 1827px #fff, 60px 1203px #fff, 76px 1995px #fff, 1588px 914px #fff,
    301px 963px #fff, 321px 415px #fff, 647px 805px #fff, 440px 471px #fff,
    1527px 399px #fff, 1538px 976px #fff, 1877px 1396px #fff, 1938px 1817px #fff,
    1513px 618px #fff, 1001px 1814px #fff, 1355px 1828px #fff,
    1754px 1858px #fff, 987px 1620px #fff, 1514px 1162px #fff, 1131px 287px #fff,
    1031px 1820px #fff, 1839px 1503px #fff, 289px 1974px #fff, 455px 1615px #fff,
    1162px 1920px #fff, 603px 1387px #fff, 798px 1076px #fff, 1136px 1851px #fff,
    314px 76px #fff, 1945px 359px #fff, 271px 130px #fff, 1455px 666px #fff,
    372px 774px #fff, 198px 1566px #fff, 1847px 339px #fff, 1236px 433px #fff,
    1850px 740px #fff, 1567px 1562px #fff, 1463px 64px #fff, 1700px 823px #fff,
    374px 1767px #fff, 1312px 1150px #fff, 1705px 508px #fff, 1685px 1373px #fff,
    166px 1813px #fff, 951px 1783px #fff, 360px 866px #fff, 1152px 1331px #fff,
    1072px 829px #fff, 1908px 1068px #fff, 1471px 895px #fff, 1755px 1526px #fff,
    574px 1536px #fff, 360px 809px #fff, 1044px 1019px #fff, 688px 620px #fff,
    355px 1091px #fff, 829px 653px #fff, 164px 592px #fff, 1167px 743px #fff,
    715px 1078px #fff, 1515px 1473px #fff, 832px 1395px #fff, 967px 1626px #fff,
    1634px 1463px #fff, 360px 1692px #fff, 1465px 1028px #fff, 1160px 916px #fff,
    376px 1752px #fff, 1215px 1302px #fff, 192px 1951px #fff, 1256px 392px #fff,
    1514px 23px #fff, 1203px 1599px #fff, 173px 1326px #fff, 1872px 196px #fff,
    1582px 1019px #fff, 134px 1303px #fff, 618px 1115px #fff, 1828px 231px #fff,
    1915px 507px #fff, 1591px 224px #fff, 658px 1256px #fff, 1968px 1004px #fff,
    1882px 1552px #fff, 532px 1437px #fff, 1459px 744px #fff, 144px 863px #fff,
    1664px 1662px #fff, 611px 1338px #fff, 1971px 1884px #fff,
    1922px 1291px #fff, 277px 1865px #fff, 1093px 1056px #fff, 1333px 480px #fff,
    1573px 1878px #fff, 28px 652px #fff, 1866px 1428px #fff, 1961px 1745px #fff,
    68px 393px #fff, 1288px 1344px #fff, 1870px 86px #fff, 277px 1835px #fff,
    1170px 1112px #fff, 450px 754px #fff, 1871px 633px #fff, 291px 523px #fff,
    30px 569px #fff, 1175px 1115px #fff, 147px 1500px #fff, 1577px 1566px #fff,
    1387px 981px #fff, 650px 1491px #fff, 1979px 821px #fff, 933px 381px #fff,
    1232px 1985px #fff, 1791px 759px #fff, 1760px 172px #fff, 450px 1309px #fff,
    1702px 1687px #fff, 1058px 800px #fff, 626px 1188px #fff, 332px 49px #fff,
    1434px 1861px #fff, 1383px 875px #fff, 1629px 1940px #fff,
    1549px 1895px #fff, 400px 673px #fff, 989px 810px #fff, 1965px 587px #fff,
    1805px 180px #fff, 551px 879px #fff, 1503px 1810px #fff, 1667px 1556px #fff,
    1964px 1038px #fff, 924px 270px #fff, 944px 914px #fff, 164px 327px #fff,
    1611px 1349px #fff, 621px 1919px #fff, 350px 975px #fff, 973px 651px #fff,
    1655px 1056px #fff, 924px 1599px #fff, 1237px 985px #fff, 1659px 1575px #fff,
    887px 1812px #fff, 1754px 1158px #fff, 241px 1265px #fff, 609px 1600px #fff,
    1680px 1023px #fff, 646px 1719px #fff, 1952px 235px #fff, 1286px 949px #fff,
    331px 155px #fff, 205px 1428px #fff, 386px 237px #fff, 1934px 1652px #fff,
    1408px 1697px #fff, 1272px 817px #fff, 1076px 572px #fff, 103px 1213px #fff,
    432px 729px #fff, 1431px 559px #fff, 265px 690px #fff, 418px 107px #fff,
    64px 1171px #fff, 354px 151px #fff, 1681px 691px #fff, 1652px 419px #fff,
    1082px 1153px #fff, 1309px 1414px #fff, 1920px 35px #fff, 138px 1475px #fff,
    826px 1941px #fff, 457px 1054px #fff, 1781px 1747px #fff, 1407px 1127px #fff,
    1956px 1559px #fff, 409px 21px #fff, 359px 270px #fff, 1855px 471px #fff,
    1866px 553px #fff, 1818px 1622px #fff, 1207px 1805px #fff, 459px 462px #fff,
    1731px 970px #fff, 479px 1213px #fff, 94px 1855px #fff, 1613px 21px #fff,
    294px 1898px #fff, 1876px 1431px #fff, 1398px 1888px #fff, 453px 824px #fff,
    171px 863px #fff, 1876px 1526px #fff, 676px 189px #fff, 1996px 499px #fff,
    1063px 471px #fff, 554px 985px #fff, 1430px 1603px #fff, 721px 823px #fff,
    65px 1060px #fff, 1679px 1826px #fff, 528px 1416px #fff, 1509px 106px #fff,
    423px 1873px #fff, 1866px 138px #fff, 590px 1759px #fff, 597px 756px #fff,
    1816px 511px #fff, 138px 829px #fff, 1745px 172px #fff, 1508px 463px #fff,
    533px 1810px #fff, 1912px 551px #fff, 763px 1429px #fff, 357px 281px #fff,
    751px 1376px #fff, 532px 1337px #fff, 1181px 30px #fff, 1797px 887px #fff,
    1723px 123px #fff, 660px 1911px #fff, 268px 578px #fff, 871px 1764px #fff,
    760px 1624px #fff, 729px 106px #fff, 1186px 665px #fff, 480px 342px #fff,
    524px 24px #fff, 1257px 936px #fff, 1763px 1585px #fff, 1424px 950px #fff,
    1078px 556px #fff, 1672px 550px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1094px 1424px #fff, 1986px 1455px #fff, 293px 1218px #fff,
    155px 1047px #fff, 432px 1908px #fff, 257px 777px #fff, 1065px 1507px #fff,
    81px 16px #fff, 220px 1790px #fff, 498px 8px #fff, 1539px 149px #fff,
    45px 1903px #fff, 218px 608px #fff, 456px 814px #fff, 859px 1143px #fff,
    1015px 989px #fff, 749px 1536px #fff, 176px 1569px #fff, 516px 856px #fff,
    406px 1610px #fff, 935px 1019px #fff, 1169px 705px #fff, 1797px 507px #fff,
    378px 411px #fff, 317px 1346px #fff, 1586px 1681px #fff, 651px 269px #fff,
    767px 1309px #fff, 1142px 1360px #fff, 1216px 630px #fff, 940px 1072px #fff,
    1261px 756px #fff, 1472px 718px #fff, 652px 1215px #fff, 652px 1944px #fff,
    318px 741px #fff, 1598px 1393px #fff, 1227px 1293px #fff, 1037px 783px #fff,
    1535px 969px #fff, 1017px 648px #fff, 990px 1802px #fff, 890px 103px #fff,
    255px 1828px #fff, 1031px 1661px #fff, 697px 322px #fff, 774px 593px #fff,
    1636px 1888px #fff, 216px 1869px #fff, 132px 746px #fff, 58px 905px #fff,
    589px 409px #fff, 1702px 109px #fff, 1066px 1879px #fff, 1283px 637px #fff,
    526px 872px #fff, 918px 1910px #fff, 1164px 631px #fff, 362px 330px #fff,
    129px 1731px #fff, 680px 1224px #fff, 81px 694px #fff, 1354px 494px #fff,
    300px 999px #fff, 1309px 521px #fff, 1918px 264px #fff, 1499px 305px #fff,
    1817px 1996px #fff, 1601px 682px #fff, 384px 1390px #fff, 771px 1299px #fff,
    727px 1962px #fff, 820px 349px #fff, 32px 1127px #fff, 1961px 1852px #fff,
    22px 1051px #fff, 63px 376px #fff, 913px 819px #fff, 446px 770px #fff,
    453px 1524px #fff, 171px 641px #fff, 935px 240px #fff, 792px 1663px #fff,
    1604px 928px #fff, 736px 1449px #fff, 1187px 1290px #fff, 1491px 249px #fff,
    707px 627px #fff, 1135px 608px #fff, 1818px 942px #fff, 1041px 1667px #fff,
    498px 615px #fff, 161px 1842px #fff, 112px 182px #fff, 366px 367px #fff,
    1269px 648px #fff, 1573px 848px #fff, 1636px 552px #fff, 111px 1238px #fff,
    1509px 1853px #fff, 1943px 589px #fff, 64px 1827px #fff, 1382px 1097px #fff,
    774px 1543px #fff, 981px 1293px #fff, 1339px 35px #fff, 81px 859px #fff,
    1599px 1835px #fff, 1001px 1084px #fff, 819px 619px #fff, 1090px 246px #fff,
    1442px 1052px #fff, 895px 918px #fff, 1380px 1026px #fff, 1337px 257px #fff,
    942px 861px #fff, 1153px 916px #fff, 1764px 688px #fff, 1807px 1257px #fff,
    21px 194px #fff, 217px 565px #fff, 905px 1944px #fff, 460px 78px #fff,
    939px 1542px #fff, 965px 1264px #fff, 1160px 1698px #fff, 534px 171px #fff,
    486px 1277px #fff, 1994px 1589px #fff, 1633px 381px #fff, 721px 325px #fff,
    647px 245px #fff, 500px 920px #fff, 686px 1825px #fff, 1857px 1470px #fff,
    1999px 286px #fff, 769px 1936px #fff, 177px 1938px #fff, 58px 536px #fff,
    978px 1763px #fff, 235px 989px #fff, 1542px 515px #fff, 1240px 1681px #fff,
    1791px 1385px #fff, 1571px 984px #fff, 1289px 694px #fff, 1430px 1592px #fff,
    1202px 1967px #fff, 679px 1488px #fff, 1535px 1830px #fff, 561px 936px #fff,
    1712px 240px #fff, 1812px 1336px #fff, 519px 1090px #fff, 1895px 1479px #fff,
    1812px 1859px #fff, 1654px 213px #fff, 959px 748px #fff, 1771px 1960px #fff,
    919px 888px #fff, 978px 565px #fff, 998px 907px #fff, 1762px 1863px #fff,
    183px 743px #fff, 1449px 1466px #fff, 1516px 664px #fff, 256px 78px #fff,
    25px 1282px #fff, 240px 1002px #fff, 508px 467px #fff, 1622px 811px #fff,
    1485px 1708px #fff, 1189px 465px #fff, 1536px 1612px #fff, 160px 1543px #fff,
    1599px 874px #fff, 1032px 1520px #fff, 1431px 600px #fff, 88px 951px #fff,
    1362px 994px #fff, 789px 943px #fff, 1305px 21px #fff, 1736px 573px #fff,
    391px 420px #fff, 1990px 844px #fff, 689px 1916px #fff, 1046px 220px #fff,
    1922px 1237px #fff, 1968px 1971px #fff, 425px 1005px #fff, 221px 332px #fff,
    175px 65px #fff, 847px 759px #fff, 928px 670px #fff, 1586px 102px #fff,
    1513px 333px #fff, 1965px 1432px #fff, 1348px 441px #fff, 1489px 123px #fff,
    1517px 429px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1094px 1424px #fff, 1986px 1455px #fff, 293px 1218px #fff,
    155px 1047px #fff, 432px 1908px #fff, 257px 777px #fff, 1065px 1507px #fff,
    81px 16px #fff, 220px 1790px #fff, 498px 8px #fff, 1539px 149px #fff,
    45px 1903px #fff, 218px 608px #fff, 456px 814px #fff, 859px 1143px #fff,
    1015px 989px #fff, 749px 1536px #fff, 176px 1569px #fff, 516px 856px #fff,
    406px 1610px #fff, 935px 1019px #fff, 1169px 705px #fff, 1797px 507px #fff,
    378px 411px #fff, 317px 1346px #fff, 1586px 1681px #fff, 651px 269px #fff,
    767px 1309px #fff, 1142px 1360px #fff, 1216px 630px #fff, 940px 1072px #fff,
    1261px 756px #fff, 1472px 718px #fff, 652px 1215px #fff, 652px 1944px #fff,
    318px 741px #fff, 1598px 1393px #fff, 1227px 1293px #fff, 1037px 783px #fff,
    1535px 969px #fff, 1017px 648px #fff, 990px 1802px #fff, 890px 103px #fff,
    255px 1828px #fff, 1031px 1661px #fff, 697px 322px #fff, 774px 593px #fff,
    1636px 1888px #fff, 216px 1869px #fff, 132px 746px #fff, 58px 905px #fff,
    589px 409px #fff, 1702px 109px #fff, 1066px 1879px #fff, 1283px 637px #fff,
    526px 872px #fff, 918px 1910px #fff, 1164px 631px #fff, 362px 330px #fff,
    129px 1731px #fff, 680px 1224px #fff, 81px 694px #fff, 1354px 494px #fff,
    300px 999px #fff, 1309px 521px #fff, 1918px 264px #fff, 1499px 305px #fff,
    1817px 1996px #fff, 1601px 682px #fff, 384px 1390px #fff, 771px 1299px #fff,
    727px 1962px #fff, 820px 349px #fff, 32px 1127px #fff, 1961px 1852px #fff,
    22px 1051px #fff, 63px 376px #fff, 913px 819px #fff, 446px 770px #fff,
    453px 1524px #fff, 171px 641px #fff, 935px 240px #fff, 792px 1663px #fff,
    1604px 928px #fff, 736px 1449px #fff, 1187px 1290px #fff, 1491px 249px #fff,
    707px 627px #fff, 1135px 608px #fff, 1818px 942px #fff, 1041px 1667px #fff,
    498px 615px #fff, 161px 1842px #fff, 112px 182px #fff, 366px 367px #fff,
    1269px 648px #fff, 1573px 848px #fff, 1636px 552px #fff, 111px 1238px #fff,
    1509px 1853px #fff, 1943px 589px #fff, 64px 1827px #fff, 1382px 1097px #fff,
    774px 1543px #fff, 981px 1293px #fff, 1339px 35px #fff, 81px 859px #fff,
    1599px 1835px #fff, 1001px 1084px #fff, 819px 619px #fff, 1090px 246px #fff,
    1442px 1052px #fff, 895px 918px #fff, 1380px 1026px #fff, 1337px 257px #fff,
    942px 861px #fff, 1153px 916px #fff, 1764px 688px #fff, 1807px 1257px #fff,
    21px 194px #fff, 217px 565px #fff, 905px 1944px #fff, 460px 78px #fff,
    939px 1542px #fff, 965px 1264px #fff, 1160px 1698px #fff, 534px 171px #fff,
    486px 1277px #fff, 1994px 1589px #fff, 1633px 381px #fff, 721px 325px #fff,
    647px 245px #fff, 500px 920px #fff, 686px 1825px #fff, 1857px 1470px #fff,
    1999px 286px #fff, 769px 1936px #fff, 177px 1938px #fff, 58px 536px #fff,
    978px 1763px #fff, 235px 989px #fff, 1542px 515px #fff, 1240px 1681px #fff,
    1791px 1385px #fff, 1571px 984px #fff, 1289px 694px #fff, 1430px 1592px #fff,
    1202px 1967px #fff, 679px 1488px #fff, 1535px 1830px #fff, 561px 936px #fff,
    1712px 240px #fff, 1812px 1336px #fff, 519px 1090px #fff, 1895px 1479px #fff,
    1812px 1859px #fff, 1654px 213px #fff, 959px 748px #fff, 1771px 1960px #fff,
    919px 888px #fff, 978px 565px #fff, 998px 907px #fff, 1762px 1863px #fff,
    183px 743px #fff, 1449px 1466px #fff, 1516px 664px #fff, 256px 78px #fff,
    25px 1282px #fff, 240px 1002px #fff, 508px 467px #fff, 1622px 811px #fff,
    1485px 1708px #fff, 1189px 465px #fff, 1536px 1612px #fff, 160px 1543px #fff,
    1599px 874px #fff, 1032px 1520px #fff, 1431px 600px #fff, 88px 951px #fff,
    1362px 994px #fff, 789px 943px #fff, 1305px 21px #fff, 1736px 573px #fff,
    391px 420px #fff, 1990px 844px #fff, 689px 1916px #fff, 1046px 220px #fff,
    1922px 1237px #fff, 1968px 1971px #fff, 425px 1005px #fff, 221px 332px #fff,
    175px 65px #fff, 847px 759px #fff, 928px 670px #fff, 1586px 102px #fff,
    1513px 333px #fff, 1965px 1432px #fff, 1348px 441px #fff, 1489px 123px #fff,
    1517px 429px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 256px 62px #fff, 337px 1711px #fff, 467px 888px #fff,
    258px 287px #fff, 182px 1383px #fff, 1157px 280px #fff, 1665px 1120px #fff,
    942px 1616px #fff, 388px 586px #fff, 256px 1854px #fff, 772px 676px #fff,
    1281px 1926px #fff, 1679px 1962px #fff, 392px 206px #fff, 1757px 59px #fff,
    1984px 1980px #fff, 643px 253px #fff, 1482px 1824px #fff, 125px 1893px #fff,
    1058px 1159px #fff, 1492px 1636px #fff, 1236px 1821px #fff,
    1723px 396px #fff, 1334px 552px #fff, 1820px 1988px #fff, 617px 340px #fff,
    266px 184px #fff, 1447px 517px #fff, 1045px 1858px #fff, 1728px 1212px #fff,
    283px 1710px #fff, 1811px 980px #fff, 1611px 616px #fff, 1914px 686px #fff,
    995px 143px #fff, 318px 1481px #fff, 1969px 1911px #fff, 1654px 861px #fff,
    1863px 860px #fff, 222px 1900px #fff, 70px 133px #fff, 1607px 1147px #fff,
    218px 1102px #fff, 1677px 993px #fff, 1918px 1530px #fff, 1808px 1705px #fff,
    388px 269px #fff, 1136px 1341px #fff, 178px 1693px #fff, 1588px 1456px #fff,
    79px 1471px #fff, 576px 123px #fff, 1756px 1716px #fff, 232px 922px #fff,
    583px 47px #fff, 1654px 144px #fff, 1852px 970px #fff, 883px 829px #fff,
    1863px 1551px #fff, 1310px 1252px #fff, 763px 1730px #fff,
    1151px 1547px #fff, 650px 849px #fff, 1650px 826px #fff, 295px 315px #fff,
    1761px 535px #fff, 863px 1372px #fff, 150px 1037px #fff, 789px 421px #fff,
    627px 1119px #fff, 1424px 1805px #fff, 723px 807px #fff, 204px 1559px #fff,
    1519px 610px #fff, 69px 1718px #fff, 445px 967px #fff, 1821px 563px #fff,
    202px 924px #fff, 623px 592px #fff, 1529px 1307px #fff, 971px 696px #fff,
    1010px 944px #fff, 1689px 762px #fff, 206px 843px #fff, 311px 1145px #fff,
    1295px 1469px #fff, 1482px 404px #fff, 238px 768px #fff, 694px 1683px #fff,
    1534px 804px #fff, 1px 1149px #fff, 1770px 1979px #fff, 1530px 748px #fff,
    490px 1206px #fff, 93px 910px #fff, 252px 805px #fff, 1001px 1379px #fff,
    581px 497px #fff, 1223px 1341px #fff, 857px 162px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 256px 62px #fff, 337px 1711px #fff, 467px 888px #fff,
    258px 287px #fff, 182px 1383px #fff, 1157px 280px #fff, 1665px 1120px #fff,
    942px 1616px #fff, 388px 586px #fff, 256px 1854px #fff, 772px 676px #fff,
    1281px 1926px #fff, 1679px 1962px #fff, 392px 206px #fff, 1757px 59px #fff,
    1984px 1980px #fff, 643px 253px #fff, 1482px 1824px #fff, 125px 1893px #fff,
    1058px 1159px #fff, 1492px 1636px #fff, 1236px 1821px #fff,
    1723px 396px #fff, 1334px 552px #fff, 1820px 1988px #fff, 617px 340px #fff,
    266px 184px #fff, 1447px 517px #fff, 1045px 1858px #fff, 1728px 1212px #fff,
    283px 1710px #fff, 1811px 980px #fff, 1611px 616px #fff, 1914px 686px #fff,
    995px 143px #fff, 318px 1481px #fff, 1969px 1911px #fff, 1654px 861px #fff,
    1863px 860px #fff, 222px 1900px #fff, 70px 133px #fff, 1607px 1147px #fff,
    218px 1102px #fff, 1677px 993px #fff, 1918px 1530px #fff, 1808px 1705px #fff,
    388px 269px #fff, 1136px 1341px #fff, 178px 1693px #fff, 1588px 1456px #fff,
    79px 1471px #fff, 576px 123px #fff, 1756px 1716px #fff, 232px 922px #fff,
    583px 47px #fff, 1654px 144px #fff, 1852px 970px #fff, 883px 829px #fff,
    1863px 1551px #fff, 1310px 1252px #fff, 763px 1730px #fff,
    1151px 1547px #fff, 650px 849px #fff, 1650px 826px #fff, 295px 315px #fff,
    1761px 535px #fff, 863px 1372px #fff, 150px 1037px #fff, 789px 421px #fff,
    627px 1119px #fff, 1424px 1805px #fff, 723px 807px #fff, 204px 1559px #fff,
    1519px 610px #fff, 69px 1718px #fff, 445px 967px #fff, 1821px 563px #fff,
    202px 924px #fff, 623px 592px #fff, 1529px 1307px #fff, 971px 696px #fff,
    1010px 944px #fff, 1689px 762px #fff, 206px 843px #fff, 311px 1145px #fff,
    1295px 1469px #fff, 1482px 404px #fff, 238px 768px #fff, 694px 1683px #fff,
    1534px 804px #fff, 1px 1149px #fff, 1770px 1979px #fff, 1530px 748px #fff,
    490px 1206px #fff, 93px 910px #fff, 252px 805px #fff, 1001px 1379px #fff,
    581px 497px #fff, 1223px 1341px #fff, 857px 162px #fff;
}

.title {
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}
.title.main {
  font-weight: normal;
  font-size: xx-large;
  background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}
.title.secondary {
  font-weight: 100;
  font-size: large;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
