.card-body {
  h2 {
    font-weight: normal;
    font-size: 30px;
    color: var(--title-color);
  }
  img {
    margin: 60px 0;
  }

  h4 {
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--text-color);
  }
}
