/*================================================
  Legacy Home2 Styles - Sagrada Cura
  Alternative home page variant (legacy code)

  NOTE: This code is from an alternative homepage design (home2)
  that may no longer be in use. Review before making changes.
  Consider removing if not actively used in production.
=================================================*/

/*=======================================
home2 Topbar Css
=======================================*/
.top-bar2 {
  background-color: var(--important-color2);
  padding: 15px 0;

  @include sm-down-device() {
    display: none;
  }

  .top-bar-left {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      fill: var(--white-color);
    }

    a {
      color: var(--white-color);
      font-family: var(--font-primary);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.42px;
    }
  }

  p {
    color: var(--white-color);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    margin-bottom: 0;
    margin: 0 auto;
    padding-left: 102px;

    @include lg-down-device() {
      display: none;
      visibility: hidden;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
      font-weight: 500;
      text-decoration: underline;
      transition: 0.5s;

      &:hover {
        color: var(--white-color);
      }
    }
  }

  .social-area {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        position: relative;

        a {
          color: rgba(#fff, 0.5);
          transform: 0.5s;

          i {
            font-size: 14px;
          }

          &:hover {
            color: var(--white-color);
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: rgba(#fff, 0.2);
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

/*=======================================
home2 Banner Css
=======================================*/
.banner-2-section {
  overflow: hidden;

  .swiper-slide-active {
    .banner-2-right-content {
      h1 {
        animation: fade-In-Down 1.5s;

        @keyframes fade-In-Down {
          0% {
            opacity: 0;
            transform: translateY(-100px);
          }

          100% {
            opacity: 1;
            transform: none;
          }
        }
      }

      p {
        animation: fade-In-Down 1.5s;
      }

      .primary-btn3 {
        animation: fade-up 1.5s;

        @keyframes fade-up {
          0% {
            opacity: 0;
            transform: translateY(100px);
          }

          100% {
            opacity: 1;
            transform: none;
          }
        }
      }

      strong {
        animation: zoom-In-effect 1s;

        @keyframes zoom-In-effect {
          0% {
            transform: scale(0.5);
          }

          100% {
            transform: scale(1);
          }
        }
      }
    }
  }

  .banner-2-left {
    position: relative;

    .banner-2-left-img {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .banner-2-left-content {
      position: absolute;
      bottom: 50px;
      left: 35px;
      max-width: 300px;
      width: 100%;

      h1 {
        color: var(--white-color);
        font-family: var(--font-primary);
        font-size: 40px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 30px;

        strong {
          color: #c76b6b;
          font-weight: 700;
          font-size: 45px;
        }
      }
    }
  }

  .banner-2-right {
    position: relative;
    height: 100%;

    .swiper-wrapper {

      @include lg-down-device {
        height: 555px;
      }
    }

    .banner-2-right-img-bg {
      align-items: center;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      position: relative;

      img {
        object-fit: cover;
        object-position: right;
        width: 100%;
        height: 100%;
      }

      .banner-2-right-content {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        padding: 50px;
        position: relative;
        text-align: center;
        width: 100%;

        h1,
        h2 {
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 57px;
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 15px;
          text-shadow: 2px 2px 2px orange;
          filter: invert(1) grayscale(1) contrast(9);

          @include sm-down-device() {
            font-size: 50px;
          }

          span {
            font-size: 45px;
            font-weight: 600;

            @include sm-down-device() {
              font-size: 40px;
            }
          }

          strong {
            background-image: url('/assets/img/banner2-price-bg.png');
            color: var(--white-color);
            font-size: 45px;
            font-weight: 700;
            background-size: contain;
            background-repeat: no-repeat;
            line-height: 1;
            padding: 0 30px;
            margin-left: 10px;
            background-position: center center;

            @include sm-down-device() {
              font-size: 40px;
            }
          }
        }

        h3 {
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 25px;
          font-weight: 400;
          line-height: 1.6;
          letter-spacing: 0.54px;
          text-transform: capitalize;
          margin-bottom: 35px;
          text-shadow: 2px 2px 2px orange;
          filter: invert(1) grayscale(1) contrast(9);
        }
      }
    }

    .swiper-pagination2 {
      position: absolute;
      top: unset;
      bottom: 20px;
      right: 30px;
      left: unset;
      z-index: 99;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: unset;
      gap: 14px;

      @include md-down-device() {
        justify-content: center;
        left: 0;
        right: 0;
        width: 100%;
      }

      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        border: 1px solid var(--primary-color1);
        background-color: transparent;
        opacity: 1;
        margin: 0;
        transition: 0.5s ease-in-out all;

        &.swiper-pagination-bullet-active {
          background: var(--primary-color1);
          margin: 0;
        }
      }
    }
  }
}

/*=======================================
home2 Section title Css
=======================================*/
.section-title3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @include md-down-device() {
    display: block;
    margin-bottom: 40px;
  }

  h3 {
    color: var(--primary-color1);
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;

    span {
      font-size: 25px;
      font-weight: 400;
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
        background-color: rgba(#222, 0.2);
        width: 100%;
        height: 45%;
      }

      @include sm-down-device() {
        font-size: 22px;
      }
    }

    @include md-down-device() {
      margin-bottom: 20px;
    }

    @include sm-down-device() {
      font-size: 25px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .view-all {
    a {
      color: var(--primary-color1);
      font-family: var(--font-primary);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.36px;
      text-transform: capitalize;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      background: linear-gradient(to bottom, #222222 0%, #222222 98%);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: left 100%;
      transition: background-size 0.75s;

      &:hover {
        background-size: 0 1px;
        background-position: 0% 100%;
      }
    }

    svg {
      fill: var(--text-color);
    }
  }

  .slider-btn2 {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 30px;

    i {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid var(--primary-color1);
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      transition: 0.5s;

      &:hover {
        background-color: var(--primary-color1);
        color: var(--white-color);
      }
    }
  }
}
