@import '@/styles/base/mixins.scss';

/*........................ 
 Whistlist page section
........................*/
.add-cart-btn {
  color: var(--white-color);
  background-color: var(--primary-color1);
  padding: 6px 25px;
  display: inline-flex;
  align-items: baseline;
  gap: 7px;
  border: 1px solid var(--primary-color1);
  white-space: nowrap;
}
.add-cart-btn2 {
  color: var(--primary-color1);
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--white-color);
  padding: 7px 23px;
  display: flex;
  align-items: baseline;
  gap: 7px;
  border: 1px solid var(--primary-color1);
  white-space: nowrap;
  &.round {
    border-radius: 100px;
  }
}

.whistlist-section {
  .whistlist-table {
    .eg-table2 {
      width: 100%;

      thead {
        tr {
          border-bottom: 1px solid #e9e7e7;

          th {
            padding-bottom: 20px;
            color: var(--primary-color1);
            font-family: var(--font-primary);
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.54px;
            text-transform: capitalize;

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              text-align: center;
            }

            @include md-down-device() {
              display: none;
            }
          }
        }
      }

      tbody {
        .price {
          color: var(--primary-color1);
          font-family: var(--font-secondary);
          font-size: 16px;
        }
        tr {
          border-bottom: 1px solid #e9e7e7;

          td {
            padding: 30px 15px;
            color: var(--primary-color1);
            font-family: var(--font-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.45px;
            text-transform: capitalize;
            margin-bottom: 0;
            .delete-icon {
              width: 42px;
              height: 42px;
              border-radius: 50%;
              background-color: #f6f6f6;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.5s;
              @include sm-down-device() {
                width: 32px;
                height: 32px;
              }
              i {
                font-size: 20px;
                @include sm-down-device() {
                  font-size: 16px;
                }
              }

              &:hover {
                background-color: var(--primary-color1);
                color: var(--white-color);
              }

              @include md-down-device() {
                margin-left: auto;
              }
            }

            .price {
              p {
                color: var(--primary-color1);
                font-family: var(--font-secondary);
                font-size: 15px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.45px;
                text-transform: capitalize;
                margin-bottom: 0;
              }

              del {
                color: rgba(#222, 0.6000000238418579);
                font-weight: 500;
              }
            }

            span {
              color: #2b8872;
              font-family: var(--font-primary);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.32px;
              text-transform: capitalize;
              white-space: nowrap;
            }
            .quantity-counter {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              @include md-down-device() {
                justify-content: flex-end;
              }
              button {
                width: 40px;
                height: 40px;
                background-color: var(--bg-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--primary-color1);
                border-radius: var(--radius);
              }
              .quantity__input {
                max-width: 58px;
                width: 100%;
                height: 40px;
                border: 1px solid var(--primary-color1);
                text-align: center;
                color: var(--primary-color1);
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.48px;
                border-radius: var(--radius);
                &:focus {
                  border: 1px solid #ddd;
                }
              }
              &.two {
                a {
                  height: 30px;
                }
                .quantity__input {
                  height: 30px;
                }
              }
            }
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              text-align: center;

              @include md-down-device() {
                text-align: end;
              }
            }

            @include md-down-device() {
              display: block;
              width: 100%;
              text-align: right;
              position: relative;
              padding: 15px;

              &::before {
                content: attr(data-label);
                position: absolute;
                left: 15px;
                color: var(--primary-color1);
                font-family: var(--font-primary);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                text-transform: capitalize;
              }
            }

            @include sm-down-device() {
              padding-left: 40%;
            }
          }

          .table-product {
            display: flex;
            align-items: center;
            gap: 30px;

            .product-img {
              img {
                width: 100px;
                height: 100px;
              }
            }

            .product-content {
              h6 {
                margin-bottom: 0;

                a {
                  color: var(--primary-color1);
                  font-family: var(--font-primary);
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  letter-spacing: 0.6px;
                  text-transform: capitalize;
                  @include sm-down-device() {
                    font-size: 18px;
                  }
                }
              }
            }

            @include md-down-device() {
              justify-content: flex-end;
            }

            @include sm-down-device() {
              flex-wrap: wrap;
              gap: 10px;
            }
          }

          @include md-down-device() {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  .coupon-area {
    .cart-coupon-input {
      h5 {
        font-weight: 700;
        font-size: 22px;
        color: var(--primary-color1);
        font-family: var(--font-primary);
        margin-bottom: 25px;
      }
      .form-inner {
        position: relative;
        input {
          height: 49px;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
        }
        .primary-btn1 {
          padding: 10px 30px;
          @include lg-device() {
            padding: 10px 20px;
          }
        }
      }
    }
  }
  .cart-table {
    width: 100%;
    border: 1px solid #e9e7e7;
    margin-bottom: 40px;
    thead {
      tr {
        border-bottom: 1px solid #e9e7e7;
        th {
          border: 1px solid #e9e7e7;
          padding: 15px;
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 18px;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.54px;
          text-transform: capitalize;
          text-align: center;
          &.price {
            font-family: var(--font-secondary);
            font-size: 14px;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #e9e7e7;
        td {
          border: 1px solid #e9e7e7;
          padding: 15px;
          color: var(--primary-color1);
          font-family: var(--font-primary);
          font-size: 16px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.45px;
          text-transform: capitalize;
          margin-bottom: 0;
          vertical-align: top;
          @include sm-down-device() {
            padding: 10px;
          }
          &:nth-child(1) {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            @include sm-down-device() {
              font-size: 16px;
            }
          }
          &:nth-child(3) {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            &.price {
              font-family: var(--font-secondary);
              font-size: 14px;
            }
          }
          .cost-list {
            li {
              font-family: var(--font-primary);
              font-size: 15px;
              font-weight: 400;
              color: var(--text-color2);
              margin-bottom: 10px;
              line-height: 1.6;
              @include sm-down-device() {
                font-size: 13px;
              }

              a {
                color: var(--primary-color1);
                font-weight: 500;
                text-decoration: underline;
              }
            }
          }
          .single-cost {
            li {
              font-family: var(--font-primary);
              font-size: 16px;
              font-weight: 500;
              color: var(--primary-color1);
              margin-bottom: 10px;
              line-height: 1.6;
              &.price {
                font-family: var(--font-secondary);
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
