@import '@/styles/mixins.scss';

.footer-section {
  background-color: #fcf7ee;
  position: relative;
  .vector1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .vector2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.03;
  }
  .vector3 {
    position: absolute;
    bottom: 0;
    left: 0;
    @include md-down-device() {
      display: none;
    }
  }

  .footer-top {
    padding: 105px 0;
    @include lg-down-device() {
      padding: 90px 0;
    }
    @include sm-down-device() {
      padding: 70px 0;
    }
    .footer-widget {
      h3 {
        color: var(--primary-color1);
        font-family: var(--font-Jost);
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6;
        text-transform: capitalize;
        max-width: 205px;
        width: 100%;
        margin-bottom: 35px;

        span {
          font-size: 25px;
          font-weight: 400;
        }

        @include sm-down-device() {
          max-width: unset;
        }
      }
      .primary-btn1 {
        padding: 8px 25px;
      }
      .widget-title {
        h5 {
          color: var(--primary-color1);
          font-family: var(--font-Jost);
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
          letter-spacing: 0.66px;
          margin-bottom: 20px;
        }

        &.style-2 {
          h5 {
            margin-bottom: 22px;
          }
        }
      }
      .widget-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 10px;
          transition: 0.5s;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: rgba(#222, 0.6000000238418579);
            font-family: var(--font-Jost);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.32px;
            transition: 0.5s;
          }

          &:hover {
            a {
              color: var(--primary-color1);
            }
          }
        }
      }
      p {
        color: #868686;
        font-family: var(--font-Jost);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 25px;
      }

      .app-store {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;

        @include lg-device() {
          flex-wrap: wrap;
        }
      }

      .payment-gateway {
        p {
          color: var(--primary-color1);
          font-family: var(--font-Jost);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.32px;
          margin-bottom: 25px;
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 32px;

          @include lg-device() {
            flex-wrap: wrap;
            gap: 20px;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid var(--primary-color1);
    padding: 25px 0;

    .footer-logo {
      max-width: 150px;
    }

    .footer-left {
      p {
        color: var(--primary-color1);
        font-family: var(--font-Jost);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.42px;
        margin-bottom: 0;

        a {
          color: var(--primary-color1);
          font-weight: 600;
          text-decoration: underline;
        }

        @include sm-down-device() {
          text-align: center;
        }
      }
    }

    .footer-contact {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon {
        svg {
          fill: #212121;
        }
      }

      .content {
        p {
          color: var(--primary-color1);
          font-family: var(--font-Jost);
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.39px;
          margin-bottom: 5px;
        }

        h6 {
          a {
            color: var(--primary-color1);
            font-family: var(--font-Jost);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.54px;
          }
        }
      }
    }
  }
  &.style-2 {
    background-image: url('/assets/img/footer-bg.png');
    .footer-top {
      .pr-25 {
        padding-right: 25px;
        @include xl-device() {
          padding-right: 20px;
        }
        @include lg-device() {
          padding-right: 0;
        }
      }
      .footer-widget {
        h3 {
          font-size: 27px;
          max-width: unset;
          @include lg-device() {
            margin-bottom: 30px;
          }
        }
        > p {
          color: var(--primary-color1);
          font-family: var(--font-Jost);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.8;
          letter-spacing: 0.32px;
          @include lg-device() {
            font-size: 15px;
          }
        }
        .from-inner {
          display: flex;
          align-items: center;
          border-bottom: 1px solid var(--primary-color1);
          padding-bottom: 5px;
          &:focus {
            border: 1px solid #ddd;
          }
          input {
            background: transparent;
            border: none;
            outline: none;
            color: var(--primary-color1);
            font-size: 12px;
            font-family: var(--font-Jost);
            text-transform: capitalize;
            width: 100%;
            &::placeholder {
              color: var(--primary-color1);
            }
          }
          .from-arrow {
            svg {
              fill: var(--primary-color1);
            }
          }
        }
      }
    }
  }
}
