@import '@/styles/mixins.scss';

.top-bar {
    padding: 18px 0 18px 0;
    border-bottom: 1px solid var(--primary-color1);
    @include sm-down-device() {
      display: none;
    }
    .top-bar-left {
      p {
        font-family: var(--font-Jost);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #353535;
        margin-bottom: 0;
  
        a {
          color: var(--text-color);
          font-weight: 500;
          background: linear-gradient(
            to bottom,
            rgba(#222, 1) 0%,
            rgba(#222, 1) 98%
          );
          background-size: 100px 2px;
          background-repeat: no-repeat;
          background-position: left 100%;
          transition: background-size 0.75s;
  
          &:hover {
            background-size: 0 2px;
            background-position: 0% 100%;
          }
        }
      }
    }
  
    .company-logo {
      @include lg-down-device() {
        display: none;
      }
    }
  
    .search-area {
      max-width: 270px;
      width: 100%;
  
      .form-inner {
        display: flex;
        align-items: center;
        max-width: 270px;
        width: 100%;
        height: 42px;
        background: #fffdfa;
        border: 1px solid var(--primary-color1);
        border-radius: 100px;
        overflow: hidden;
  
        input {
          background: #fffdfa;
          width: 100%;
          height: 42px;
          padding: 10px 30px;
          font-family: var(--font-open-sans);
          font-weight: 400;
          font-size: 14px;
          color: var(--text-color);
          border-radius: 100px;
          border: none;
        }
  
        button {
          width: 56px;
          height: 42px;
          background-color: #fffdfa;
          border-left: 1px solid var(--primary-color1);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s;
          i {
            font-size: 16px;
            color: var(--primary-color1);
          }
        }
      }
    }
  }