/*================================================
1. Mixins Css
=================================================*/
@mixin seventeen-down-device {
    @media (max-width: 1700px) {
      @content;
    }
  }
  @mixin fifteen-down-device {
    @media (max-width: 1500px) {
      @content;
    }
  }
  
  // xl-device=====
  
  @mixin xxl-down-device {
    @media (max-width: 1399px) {
      @content;
    }
  }
  
  @mixin xl-down-device {
    @media (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin xxl-device {
    @media (min-width: 1400px) and (max-width: 1599px) {
      @content;
    }
  }
  
  @mixin xl-device {
    @media (min-width: 1200px) and (max-width: 1399px) {
      @content;
    }
  }
  
  @mixin lg-device {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin lg-up-device {
    @media (min-width: 992px) {
      @content;
    }
  }
  
  @mixin lg-down-device {
    @media (max-width: 991px) {
      @content;
    }
  }
  
  // md-device============
  @mixin md-device {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  
  @mixin xxl-up-device {
    @media (min-width: 1600px) {
      @content;
    }
  }
  
  @mixin md-up-device {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin md-down-device {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  // sm-device
  @mixin sm-device {
    @media (min-width: 576px) and (max-width: 768px) {
      @content;
    }
  }
  
  @mixin sm-down-device {
    @media (max-width: 576px) {
      @content;
    }
  }
  
  @mixin sm-mobile-device {
    @media (max-width: 425px) {
      @content;
    }
  }
  
  @mixin big-mobile-device {
    @media (min-width: 375px) and (max-width: 576px) {
      @content;
    }
  }
  
  @mixin threefifty-down-device() {
    @media (max-width: 350px) {
      @content;
    }
  }