@import '@/styles/mixins.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*================================================
  Checkout page
=================================================*/
.checkout-section {
  .form-wrap {
    border-radius: 5px;
    padding: 40px 0;
    box-shadow: 4px 8px 30px rgba(141, 141, 141, 0.1);
    border: 1px solid #eee;
    @include sm-down-device() {
      padding: 25px;
    }
    legend {
      font-family: var(--font-primary);
      font-weight: 600;
      font-size: 25px;
      color: var(--primary-color1);
      line-height: 1;
      margin-bottom: 30px;
      @include sm-down-device() {
        font-size: 23px;
      }
    }

    fieldset {
      padding: 0 40px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 5px;
      }
    }
    .form-inner {
      margin-bottom: 25px;
      label {
        font-size: 18px;
        font-weight: bold;
        color: var(--primary-color1);
        font-family: var(--font-primary);
        margin-bottom: 10px;
        width: 100%;
      }
      .nice-select {
        width: 100%;
        height: 50px;
        line-height: 50px;
        float: unset;
        border: 1px solid var(--primary-color1);
        border-radius: unset;
        &:focus {
          border: 1px solid #ddd;
        }
        .list {
          width: 100%;
        }

        &::after {
          border-bottom: 2px solid var(--primary-color1);
          border-right: 2px solid var(--primary-color1);
          width: 8px;
          height: 8px;
          right: 28px;
          top: 48%;
        }
      }
    }
  }
  .added-product-summary {
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 4px 8px 30px rgba(141, 141, 141, 0.1);
    @include sm-down-device() {
      padding: 25px 15px;
    }
    h5 {
      font-family: var(--font-primary);
      font-weight: 600;
      font-size: 25px;
      color: var(--primary-color1);
      line-height: 1;
      margin-bottom: 25px;
    }
    .added-products {
      padding: 0;
      margin: 0;
      list-style: none;
      .single-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .product-area {
          display: flex;
          align-items: center;
          gap: 25px;
          @include sm-down-device() {
            gap: 10px;
          }
          img {
            width: 90px;
            height: 90px;
            border-radius: 5px;
            @include sm-down-device() {
              width: 80px;
              height: 80px;
            }
          }
          .product-info {
            h5 {
              margin-bottom: 20px;
              @include sm-down-device() {
                margin-bottom: 10px;
              }
              a {
                font-family: var(--font-primary);
                font-weight: 600;
                font-size: 20px;
                color: var(--primary-color1);
                line-height: 1;
                margin-bottom: 25px;
                @include sm-down-device() {
                  font-size: 18px;
                }
              }
            }
            .product-total {
              display: flex;
              align-items: center;
              gap: 20px;
              @include sm-down-device() {
                gap: 10px;
              }
              .quantity-counter {
                display: flex;
                align-items: center;
                gap: 5px;
                width: 96px;
                height: 36px;
                border-radius: 30px;
                border: 1px solid var(--primary-color1);
                padding: 0 10px;
                button {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: var(--primary-color1);
                  background: transparent;
                  cursor: pointer;
                }
                .quantity__input {
                  width: 100%;
                  text-align: center;
                  color: var(--primary-color1);
                  font-family: var(--font-primary);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1;
                  letter-spacing: 0.48px;
                  border: unset;
                }
              }
              strong {
                @include sm-down-device() {
                  i {
                    font-size: 12px;
                  }
                }
                .product-price {
                  font-size: 14px;
                  font-family: var(--font-secondary);
                }
              }
            }
          }
        }
        .delete-btn {
          height: 35px;
          width: 35px;
          line-height: 35px;
          border-radius: 50%;
          background-color: var(--white-color);
          border: 1px solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 0.4s ease;
          @include md-down-device() {
            margin: 0 0 0 auto;
          }
          i {
            font-size: 16px;
            transition: 0.4s ease;
          }
          &:hover {
            background-color: var(--primary-color1);
            box-shadow: 4px 8px 30px rgba(141, 141, 141, 0.19);
            transition: 0.4s ease;
            i {
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
  .cost-summary {
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 23px 30px;
    box-shadow: 4px 8px 30px rgba(141, 141, 141, 0.1);
    .cost-summary-table {
      margin-bottom: 0;
      .price {
        font-family: var(--font-secondary);
        font-size: 14px;
        padding: 8px 0;
      }
      thead {
        tr {
          th {
            border: none;
            font-size: 16px;
            font-weight: bold;
            color: var(--primary-color1);
            font-family: var(--font-primary);
            padding: 0;
            padding-bottom: 10px;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          .tax {
            font-size: 16px;
            color: var(--text-color2);
            font-weight: 500;
            font-family: var(--font-primary);
            padding-left: 0;
          }
          td {
            border: none;
            font-size: 16px;
            padding-bottom: 0;
            font-weight: 400;
            color: #838383;
            font-family: var(--font-primary);
            padding-left: 0;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
    &.total-cost {
      padding: 18px 30px;
      thead {
        tr {
          th {
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .payment-methods {
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    .payment-list {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        position: relative;
        margin-left: 25px;
        h6 {
          font-size: 18px;
          font-weight: 600;
          color: var(--primary-color1);
          font-family: var(--font-primary);
        }
        .checked {
          position: absolute;
          top: 3.5px;
          left: -25px;
          width: 16px;
          height: 16px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          border-radius: 50%;
        }
        &.active {
          .checked {
            background: #848484;
          }
        }
      }
    }
    .form-check {
      display: block;
      min-height: 24px;
      padding-left: 0;
      margin-bottom: 15px;
      .form-check-input {
        min-width: 8px;
        min-height: 8px;
        margin-top: 8px;
        margin-right: 0;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: none;
        appearance: none;
      }
      .form-check-input[type='radio'] {
        border-radius: 50%;
        &:checked {
          background: #848484;
          border-color: transparent;
          box-shadow: none;
          outline: none;
          margin-top: 8px;
        }
      }
      .form-check-label {
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-color1);
        font-family: var(--font-primary);
      }
      .para {
        font-size: 14px;
        font-weight: 400;
        color: var(--primary-color1);
        font-family: var(--font-primary);
      }
      &.paypal {
        display: flex;
        align-items: center;
        gap: 10px;
        @include lg-device() {
          flex-wrap: wrap;
        }
        @include sm-down-device() {
          flex-wrap: wrap;
        }
        .form-check-input[type='radio'] {
          margin-top: 0;
        }
        .about-paypal {
          color: var(--primary-color1);
          font-weight: 400;
          font-size: 16px;
          border-bottom: 1px solid var(--primary-color1);
          line-height: 1;
        }
      }
    }
    .payment-form-bottom {
      padding-top: 10px;
      // input[type=checkbox] {
      //     margin-right: 10px;
      //     margin-left: 2px;
      //     margin-top: 4px;
      // }
      .custom-check-box {
        opacity: 0;
        display: none;
      }

      .custom-check-box + label {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 2px;
        flex-wrap: wrap;
        @include sm-down-device() {
          gap: 5px;
        }
        &::before {
          content: '';
          width: 13px;
          height: 13px;
          border: 1px solid var(--primary-color1);
        }
      }

      .custom-check-box:checked + label {
        &::before {
          content: '\F26E';
          color: var(--white-color);
          font-family: 'bootstrap-icons';
          background-color: var(--primary-color1);
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      label {
        font-size: 14px;
        font-weight: 400;
        color: var(--primary-color1);
        font-family: var(--font-primary);
        a {
          color: var(--primary-color1);
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
  }
  .place-order-btn {
    .header-btn {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 5px;
      display: inline-block;
      border: none;
      outline: none;
      transition: 0.35s ease-in;
      background: var(--primary-color1);
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background: #191a1c;
        a {
          color: var(--white-color);
        }
      }
    }
  }
}
.choose-payment-method {
  h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color1);
    font-family: var(--font-primary);
    margin-bottom: 20px;
  }
  .payment-option {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 21px;
      li {
        border: 1px solid #eeeeee;
        max-width: 101px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: relative;
        &.active {
          border: 1px solid var(--primary-color1);
          .checked {
            opacity: 1;
          }
        }
        .checked {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 20px;
          height: 20px;
          background-color: var(--primary-color1);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          i {
            color: var(--white-color);
          }
        }
      }
    }
  }
  .input-area {
    position: relative;
    label {
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-color1);
      font-family: var(--font-primary);
      margin-bottom: 10px;
    }
    input {
      display: block;
      transition: 0.3s ease;
      width: 100%;
      height: 50px;
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--primary-color1);
      font-family: var(--font-primary);
      border: 1px solid var(--primary-color1);
      width: 100%;
      height: 50px;
      padding: 15px 20px;
      &:focus {
        border: 1px solid #ddd;
      }
    }
    .input-field {
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 70px;
      }
    }
    .nice-select {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border: 1px solid var(--primary-color1);
      border-radius: unset;
      &:focus {
        border: 1px solid #ddd;
      }
      .list {
        width: 100%;
      }
      &::after {
        border-bottom: 2px solid var(--primary-color1);
        border-right: 2px solid var(--primary-color1);
        width: 8px;
        height: 8px;
        right: 20px;
        top: 48%;
      }
    }
  }
}
